<h2>The iGoogles, they do nothing!</h2>

<p>So the threat of <a href="https://support.google.com/websearch/answer/2664197">iGoogle shutting down</a> has been hanging over our heads for most of the year. One of the larger programming projects I wanted to do in this time would address that, and come up with something really nice that people could use as a replacement. Sadly, I haven't been working nearly as fast as I thought I could, and that project is still on the horizon. But November is almost upon us and iGoogle is going away <em>now</em>. What's to be done?</p>

<p>Why, it's time to throw something together quickly in Perl, of course.</p>

<h2>Grabbing the Data</h2>

<p>The support page linked above has details on how to download a backup of your iGoogle data to your computer. The <code>iGoogle-settings.xml</code> file you end up with looks a bit like this:-</p>

<pre><code>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;GadgetTabML version="1.0" xmlns:iGoogle="http://www.google.com/ig" xmlns="http://schemas.google.com/GadgetTabML/2008"&gt;
  &lt;SkinPreferences zipcode="Sydney, Australia" country="au" language="en" /&gt;
  &lt;Tab title="Webcomics" skinUrl="http://www.elitedesigns.us/goothemes/MistedForest/doc_theme.xml"&gt;
    &lt;Layout iGoogle:spec="THREE_COL_LAYOUT_1" /&gt;
    &lt;Section&gt;
      &lt;Module type="RSS" xmlns="http://www.google.com/ig"&gt;
        &lt;UserPref name="numItems" value="6" /&gt;
        &lt;ModulePrefs xmlUrl="http://feed43.com/order_of_the_stick_comic.xml" /&gt;
      &lt;/Module&gt;
      &lt;Module type="RSS" xmlns="http://www.google.com/ig"&gt;
        &lt;UserPref name="numItems" value="6" /&gt;
        &lt;ModulePrefs xmlUrl="http://www.girlgeniusonline.com/ggmain.rss" /&gt;
      &lt;/Module&gt;
      &lt;Module type="RSS" xmlns="http://www.google.com/ig"&gt;
        &lt;UserPref name="numItems" value="8" /&gt;
        &lt;ModulePrefs xmlUrl="http://drmcninja.com/feed/" /&gt;
      &lt;/Module&gt;
</code></pre>

<p>While there are many other Module types to consider, I'm only interested in extracting the urls of the RSS feeds that I follow, and constructing some html page with the links from of those feeds. It'll be slow to fetch each individual feed, and the script will need to be run manually, but it should serve as a decent replacement.</p>

<h2>The eXtra Messy Language</h2>

<p>The first thing you'll notice is that the iGoogle backup is in XML. XML is great in some ways but it is dishearteningly verbose and cryptic a lot of the time. We could look up the schema Google has made and create a proper model to represent the entire dataset in our program, or we could just rip out the bits we want with XML::Twig. <a href="xmltwig.org">XML::Twig</a> is a nice Perl 5 library that makes parsing XML relatively painless.</p>

<p>It looks like we'd mostly be interested in identifying the <code>&lt;Tab title="Blah"&gt;</code> elements, and then getting the <code>&lt;ModulePrefs xmlUrl="http://blah"&gt;</code> attribute out for each <code>&lt;Module&gt;</code> element (if it posesses the "RSS" type) within the tab. I could also pull out the numItems value, but for the purposes of a quick hack to replace iGoogle, I could happily see myself hard-coding the same number of items for all the feeds.</p>

<p>XML::Twig supports two styles of operation. The first is loading the entire document into memory in one go and you use traditional operations on elements to traverse the XML tree however you want. The second allows you to pre-define which parts of the tree interest you and provide XML::Twig with <strong>callbacks</strong> to your own code that get run on those portions. This second mode is great for large XML documents where loading the entire thing isn't feasible. Our iGoogle settings file isn't exactly large, but the callback mode is still a nice way to deal with things. Let's try it out here.</p>

<p>The first cut of the script looks like this:-</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#838183; font-style:italic">#!/usr/bin/perl</span>

<span style="color:#000000; font-weight:bold">use</span> warnings<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> strict<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> utf8<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">binmode</span><span style="color:#000000">(</span>STDOUT<span style="color:#000000">,</span> <span style="color:#bf0303">&quot;:utf8&quot;</span><span style="color:#000000">);</span>
<span style="color:#000000; font-weight:bold">binmode</span><span style="color:#000000">(</span>STDERR<span style="color:#000000">,</span> <span style="color:#bf0303">&quot;:utf8&quot;</span><span style="color:#000000">);</span>
<span style="color:#000000; font-weight:bold">use</span> XML<span style="color:#000000">::</span>Twig<span style="color:#000000">;</span>    <span style="color:#838183; font-style:italic"># Package Name: libxml-twig-perl</span>
<span style="color:#000000; font-weight:bold">use</span> Data<span style="color:#000000">::</span>Dumper<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> FindBin <span style="color:#000000; font-weight:bold">qw</span><span style="color:#010181">/$RealBin/</span><span style="color:#000000">;</span>

<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$igoogle_settings_filename</span> <span style="color:#000000">=</span> <span style="color:#bf0303">&quot;$RealBin/iGoogle-settings.xml&quot;</span><span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot;Opening iGoogle settings file: $igoogle_settings_filename</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>

<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$tabs</span> <span style="color:#000000">= {};</span> <span style="color:#838183; font-style:italic"># Tab Name =&gt; [ urls ];</span>
<span style="color:#838183; font-style:italic"># Called by XML::Twig on each ModulePrefs part.</span>
<span style="color:#000000; font-weight:bold">sub</span> collect_feed_urls
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$twig</span><span style="color:#000000">,</span> <span style="color:#0057ae">$element</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># Extract the URL from this element, and the tab name from its ancestor.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$url</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$element</span><span style="color:#000000">-&gt;</span><span style="color:#010181">att</span><span style="color:#000000">(</span><span style="color:#bf0303">'xmlUrl'</span><span style="color:#000000">);</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$tab_name</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$element</span><span style="color:#000000">-&gt;</span><span style="color:#010181">parent</span><span style="color:#000000">(</span><span style="color:#bf0303">'Tab'</span><span style="color:#000000">)-&gt;</span><span style="color:#010181">att</span><span style="color:#000000">(</span><span style="color:#bf0303">'title'</span><span style="color:#000000">);</span>
   <span style="color:#838183; font-style:italic"># Put feed urls in an array ref, grouped by tab name.</span>
   <span style="color:#0057ae">$tabs</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$tab_name</span><span style="color:#000000">} = []</span> <span style="color:#000000; font-weight:bold">unless</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$tabs</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$tab_name</span><span style="color:#000000">};</span>
   <span style="color:#000000; font-weight:bold">push</span> &#64;<span style="color:#000000">{</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$tab_name</span><span style="color:#000000">}},</span> <span style="color:#0057ae">$url</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>

<span style="color:#838183; font-style:italic"># Create our Twig object and tell it what bits we're interested in.</span>
<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$twig</span> <span style="color:#000000">=</span> XML<span style="color:#000000">::</span>Twig<span style="color:#000000">-&gt;</span><span style="color:#010181">new</span><span style="color:#000000">(</span>
      twig_handlers <span style="color:#000000">=&gt; {</span>
         <span style="color:#bf0303">'Tab//Module[&#64;type=&quot;RSS&quot;]/ModulePrefs'</span> <span style="color:#000000">=&gt;</span> \<span style="color:#000000">&amp;</span>collect_feed_urls<span style="color:#000000">,</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">);</span>
<span style="color:#0057ae">$twig</span><span style="color:#000000">-&gt;</span><span style="color:#010181">parsefile</span><span style="color:#000000">(</span><span style="color:#0057ae">$igoogle_settings_filename</span><span style="color:#000000">);</span> <span style="color:#838183; font-style:italic"># XML::Twig will just die if there's a problem. Fine by me.</span>

<span style="color:#838183; font-style:italic"># Print everything out to check it worked so far.</span>
<span style="color:#000000; font-weight:bold">print</span> STDERR Dumper<span style="color:#000000">(</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">);</span>
</pre>

<p>There's not much to say, really - the preamble just loads the modules we want to use, and determines where the XML file is (in the same directory as the script). Then we create a variable called <code>$tabs</code>, a hash reference to a bunch of array references. This is where we'll store the feed URLs. The subroutine <code>collect_feed_urls</code> is the callback we give to XML::Twig, and it <em>closes over</em> that <code>$tabs</code> variable. This means that whenever it runs, the <code>$tabs</code> that it references is the one we declared in the main script, and it can shove all the data in there. I'm essentially using it as a global variable, except it's way more elegant than that really, honest.</p>

<p>One keyword you might be unfamiliar with in the subroutine is <strong>unless</strong> - a beautiful part of Perl which is effectively just <strong>if not</strong>, but without necessitating parentheses around the whole expression. And of course, to be Perlish, I'm using the condition at the end of the statement, since it's only one statement I want to affect. If we were writing in a more C-ish style, that one line might turn into:-</p>

<pre><code>if ( ! defined $tabs-&gt;{$tab_name})
{
    $tabs-&gt;{$tab_name} = [];
}
</code></pre>

<p>Moving on. Creating our Twig object with <code>XML::Twig-&gt;new()</code> allows us to set some global options for the module, as well as defining the <em>handlers</em> that should be triggered on certain parts of the document. The right hand side of the handler is just a subroutine reference, and could be written in-line if you've got a series of small transformations you wish to do. In our case, it's cleaner to refer to the subroutine we defined earlier using <code>\&amp;</code>.</p>

<p>The left hand side specifies what XML::Twig should be looking for to run our handler. It can be as simple as the XML element name, or (in this case) an <a href="www.xmltwig.org/xmltwig/twig_stable.html/#METHODS_XML_Twig_Elt_get_xpath">XPath-like expression</a>. The expression <code>Tab//Module[@type="RSS"]/ModulePrefs</code> means we are looking for a <code>&lt;ModulePrefs&gt;</code> element, and that it should be looking for one contained in a <code>&lt;Module&gt;</code> element with a 'type' attribute set to "RSS", and there can be any number of other enclosing elements as long as there's a <code>&lt;Tab&gt;</code> as an ancestor somewhere.</p>

<p>Finally, <code>$twig-&gt;parsefile()</code> tells it to go, and finally I use Data::Dumper to check that what we've got so far worked.</p>

<h2>Really Simple except when it's not</h2>

<p>We've got two main steps to deal with next. Firstly, we need to take each feed URL and fetch that from the Interwebs. Secondly, the document we get back from that URL <strong>should</strong> be in RSS (or "Really Simple Syndication") format. We'll want to parse out the individual items from that, and extract the title and link.</p>

<p>Grabbing a file from the internet over HTTP is easy enough in Perl, there's a plethora of libraries to do it for us. <a href="https://metacpan.org/pod/LWP::Simple">LWP::Simple</a> <strong>should</strong> be more than sufficient - it exports a <code>get(url)</code> subroutine that returns the document text or <code>undef</code> on failure.</p>

<p>For the RSS parsing, we have a few options as well. RSS uses XML, so we could just use XML::Twig on it. However, while the iGoogle-settings.xml file's structure is known to us and won't be changing anytime soon, the kinds of RSS we might get from random webservers could be weird dialects of it or malformed or just completely bizarre. There's no way to know ahead of time, so it's better to use a library specifically made to deal with RSS content. <a href="https://metacpan.org/pod/XML::RSS">XML::RSS</a> is one such module. It can produce RSS files as well as consume them, but for now we're only interested in using its <code>parse()</code> method and then going through all the items.</p>

<p>The script is starting to get a little big, so it's time to think about putting more things into subroutines. I make a 'main' sub, and a 'get_feed' sub to do the job of downloading and parsing the RSS:-</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> get_feeds
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># Fetch the feeds and build a hashref of feed url =&gt; XML:RSS object (or undef)</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$rsses</span> <span style="color:#000000">= {};</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$url_list</span> <span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">values</span> <span style="color:#000000">%</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$url</span> <span style="color:#000000">(</span>&#64;<span style="color:#0057ae">$url_list</span><span style="color:#000000">) {</span>
         <span style="color:#0057ae">$rsses</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$url</span><span style="color:#000000">} =</span> get_feed<span style="color:#000000">(</span><span style="color:#0057ae">$url</span><span style="color:#000000">);</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>

<span style="color:#000000; font-weight:bold">sub</span> get_feed
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$url</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># Use LWP::Simple to fetch the page for us - returns 'undef' on any failure.</span>
   <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot;Fetching $url ...&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$feed_text</span> <span style="color:#000000">=</span> get<span style="color:#000000">(</span><span style="color:#0057ae">$url</span><span style="color:#000000">);</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">( !</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$feed_text</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot; Failed!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">return</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#838183; font-style:italic"># Obtained a bit of text over the interwebs, but is it valid RSS?</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$rss</span> <span style="color:#000000">=</span> XML<span style="color:#000000">::</span>RSS<span style="color:#000000">-&gt;</span><span style="color:#010181">new</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">eval</span> <span style="color:#000000">{</span>
      <span style="color:#0057ae">$rss</span><span style="color:#000000">-&gt;</span><span style="color:#010181">parse</span><span style="color:#000000">(</span><span style="color:#0057ae">$feed_text</span><span style="color:#000000">);</span>
   <span style="color:#000000">};</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">($</span>&#64;<span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot; Bad RSS feed!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">return</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot; OK</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$rss</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>
</pre>

<p>Okay, we've got the feeds downloaded and made some sense out of them. What's next? I could print the RSS items to the terminal to check, but I have plenty of confidence that XML::RSS has done its thing successfully. And there's only a few days left before iGoogle shuts down, so let's hurry things along, shall we?</p>

<h2>Spitting it all out</h2>

<p>My plan is to have the script print out an HTML document. This means we'll need a bit of HTML boilerplate, wrapped around the main body, which will be divided into sections based on each old iGoogle tab, which in turn will feature a number of short lists of the top N items from each RSS feed. To keep things from getting too messy, this suggests a subroutine for each visual level in the document hierarchy. The output will be pretty plain to begin with, but we can always dress it up with <a href="http://www.w3schools.com/css/">CSS</a> later.</p>

<p>There are a few tricks that are handy when you want to embed something strange like HTML strings inside Perl source. The most obvious trick is just to get a module to write the HTML tags for you, but I don't want to find one of those just yet. One simple way to put a large block of text in is using "<a href="http://perldoc.perl.org/perlop.html#%3C%3CEOF">here documents</a>", by choosing some special string like "EOF" to terminate a multi-line bit of text:-</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> create_html
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">,</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$output</span> <span style="color:#000000">=</span> <span style="color:#bf0303">&quot;&quot;</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.= &lt;&lt;</span>EOF<span style="color:#000000">;</span>
      <span style="color:#000000">&lt;</span>html<span style="color:#000000">&gt;</span>
         <span style="color:#000000">&lt;</span>head<span style="color:#000000">&gt;</span>
            <span style="color:#000000">&lt;</span>title<span style="color:#000000">&gt;</span>maiGoogle<span style="color:#000000">&lt;/</span>title<span style="color:#000000">&gt;</span>
         <span style="color:#000000">&lt;/</span>head<span style="color:#000000">&gt;</span>
         <span style="color:#000000">&lt;</span>body<span style="color:#000000">&gt;</span>
EOF

   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> html_body<span style="color:#000000">(</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">,</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">);</span>

   <span style="color:#0057ae">$output</span> <span style="color:#000000">.= &lt;&lt;</span>EOF<span style="color:#000000">;</span>
         <span style="color:#000000">&lt;/</span>body<span style="color:#000000">&gt;</span>
      <span style="color:#000000">&lt;/</span>html<span style="color:#000000">&gt;</span>
EOF
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$output</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>
</pre>

<p>The other alternative is to use the magic quote operators Perl gives us. Normally, you'd use double quotes (") to delimit a string literal that you want variables to be interpolated into, but that can be problematic when your HTML also has quote marks in it. Escaping everything with backslashes gets ugly fast. So instead, Perl lets you <em>choose</em> your quote character with <a href="http://perldoc.perl.org/perlop.html#Quote-Like-Operators">qq</a> :-</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> html_rss_feed
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$url</span><span style="color:#000000">,</span> <span style="color:#0057ae">$rss</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$output</span> <span style="color:#000000">=</span> <span style="color:#bf0303">&quot;&quot;</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Not all the feeds might have been fetched OK, or some might not have parsed properly.</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">( !</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$rss</span><span style="color:#000000">) {</span>
      <span style="color:#838183; font-style:italic"># Ideally, we'd remember why, but for now just say sorry.</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!&lt;</span>div class<span style="color:#000000">=</span><span style="color:#bf0303">&quot;feed&quot;</span><span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;</span>span class<span style="color:#000000">=</span><span style="color:#bf0303">&quot;title&quot;</span><span style="color:#000000">&gt;&lt;</span>a href<span style="color:#000000">=</span><span style="color:#bf0303">&quot;$url&quot;</span><span style="color:#000000">&gt;</span><span style="color:#0057ae">$url</span><span style="color:#000000">&lt;</span><span style="color:#010181">/a&gt;&lt;/spa</span>n<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;</span>p class<span style="color:#000000">=</span><span style="color:#bf0303">&quot;fail&quot;</span><span style="color:#000000">&gt;</span>This feed failed to load<span style="color:#000000">,</span> sorry<span style="color:#000000">.&lt;/</span>p<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!&lt;/</span>div<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
      <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$output</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>
</pre>

<p>Here, I've chosen the bang (!) to indicate the start and end of my string, but you can use pretty much anything.</p>

<p>Anyway, now we've got some output, does it work?</p>

<h4>INCLUDE SCREENSHOT</h4>

<p>It does! Fantastic! There's just one last issue to clear up...</p>

<h2>Enforcing Sanity</h2>

<p>It worked right up until the point where a feed I was getting items from gave me a title with more HTML in it. Naturally, that confused the hell out of the browser and it decided everything past that item was commented out thanks to the feed's malformed HTML. What we <em>absolutely must do</em> when using unknown data from the web is sanity-check it a little - in this case, I'm happy to just rip out anything that looks HTML-like and leave the titles as plain as possible. We could use some regexps to do this but again you never know what crazy things are possible with a spec as large as HTML - let's use a Perl module to do it for us. <a href="https://metacpan.org/pod/HTML::Strip">HTML::Strip</a> looks like a good candidate.</p>

<p>We can write a small sub to strip out any of the bad HTML:-</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> sanify
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$str</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$hs</span> <span style="color:#000000">=</span> HTML<span style="color:#000000">::</span>Strip<span style="color:#000000">-&gt;</span><span style="color:#010181">new</span><span style="color:#000000">();</span>
   <span style="color:#0057ae">$str</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$hs</span><span style="color:#000000">-&gt;</span><span style="color:#010181">parse</span><span style="color:#000000">(</span><span style="color:#0057ae">$str</span><span style="color:#000000">);</span>
   <span style="color:#0057ae">$hs</span><span style="color:#000000">-&gt;</span><span style="color:#000000; font-weight:bold">eof</span><span style="color:#000000">();</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$str</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>
</pre>

<p>We do this rather than make one instance of HTML::Strip and use its <code>-&gt;parse()</code> method each time, because we want to give each fragment of RSS a clean slate. Let's give this a shot, what could possibly go wrong?</p>

<h2>Things went wrong</h2>

<p>The good news is that HTML::Strip fixed the broken html in the title of that one feed. The bad news is that now I'm looking at things more carefully, there's a few remaining problems. Firstly, there's an encoding issue somewhere - a few characters are clearly encoded wrong. It happens, when you're sourcing data from all over the place and smooshing them together into one HTML page. iGoogle did a pretty good job of that.</p>

<p>Secondly, some feeds just aren't ever getting loaded - some seem to time out waiting for the feed XML to arrive. We can fix this by abandoning LWP::Simple and using its bigger brother, <a href="https://metacpan.org/pod/LWP::UserAgent">LWP::UserAgent</a>. In fact, after switching to LWP::UserAgent, I find that the reason some feeds were failing was because we were getting a "403 Forbidden" error. Spoofing the User Agent String and pretending to be Firefox fixes this. In an ideal internet it shouldn't, but the internet is far from ideal and it is a necessary fix.</p>

<p>The character encoding thing might require more time to debug, so for now I'll add a link to the feed itself after the title, and store any error messages I get in a second hashref that we can include in any feeds that fail.</p>

<p><strong>Edit:</strong> It was HTML::Strip. It either didn't like the unicode characters, or was over-zealous in stripping things. I don't know. Changing <code>sanify()</code> to a simpler implementation fixed the problem.</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> sanify
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$str</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$str</span> <span style="color:#010181">//</span><span style="color:#000000">=</span> <span style="color:#bf0303">&quot;&quot;</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$str</span> <span style="color:#000000">=~</span> <span style="color:#010181">s/&lt;/&amp;lt;/g</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$str</span> <span style="color:#000000">=~</span> <span style="color:#010181">s/&gt;/&amp;gt;/g</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$str</span> <span style="color:#000000">=~</span> <span style="color:#010181">s/&amp;/&amp;amp;/g</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$str</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>
</pre>

<p>Here's the final script. It's kludgy in places, I still haven't figured out why some odd characters are present in some feeds, and the output is completely unstyled. But it works, and with iGoogle shutting down I want to get this done and out there <strong>now</strong>.</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#838183; font-style:italic">#!/usr/bin/perl</span>

<span style="color:#000000; font-weight:bold">use</span> warnings<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> strict<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> utf8<span style="color:#000000">::</span>all<span style="color:#000000">;</span>    <span style="color:#838183; font-style:italic"># Package Name: libutf8-all-perl</span>
<span style="color:#000000; font-weight:bold">use</span> XML<span style="color:#000000">::</span>Twig<span style="color:#000000">;</span>    <span style="color:#838183; font-style:italic"># Package Name: libxml-twig-perl</span>
<span style="color:#000000; font-weight:bold">use</span> XML<span style="color:#000000">::</span>RSS<span style="color:#000000">;</span>     <span style="color:#838183; font-style:italic"># Package Name: libxml-rss-perl</span>
<span style="color:#000000; font-weight:bold">use</span> LWP<span style="color:#000000">::</span>UserAgent<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> FindBin <span style="color:#000000; font-weight:bold">qw</span><span style="color:#010181">/$RealBin/</span><span style="color:#000000">;</span>

<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$igoogle_settings_filename</span> <span style="color:#000000">=</span> <span style="color:#bf0303">&quot;$RealBin/iGoogle-settings.xml&quot;</span><span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$number_of_rss_items_per_feed</span> <span style="color:#000000">=</span> <span style="color:#b07e00">8</span><span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot;Opening iGoogle settings file: $igoogle_settings_filename</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>

<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$tabs</span> <span style="color:#000000">= {};</span> <span style="color:#838183; font-style:italic"># Tab Name =&gt; [ urls ];</span>
<span style="color:#838183; font-style:italic"># Called by XML::Twig on each ModulePrefs part.</span>
<span style="color:#000000; font-weight:bold">sub</span> collect_feed_urls
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$twig</span><span style="color:#000000">,</span> <span style="color:#0057ae">$element</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># Extract the URL from this element, and the tab name from its ancestor.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$url</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$element</span><span style="color:#000000">-&gt;</span><span style="color:#010181">att</span><span style="color:#000000">(</span><span style="color:#bf0303">'xmlUrl'</span><span style="color:#000000">);</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$tab_name</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$element</span><span style="color:#000000">-&gt;</span><span style="color:#010181">parent</span><span style="color:#000000">(</span><span style="color:#bf0303">'Tab'</span><span style="color:#000000">)-&gt;</span><span style="color:#010181">att</span><span style="color:#000000">(</span><span style="color:#bf0303">'title'</span><span style="color:#000000">);</span>
   <span style="color:#838183; font-style:italic"># Put feed urls in an array ref, grouped by tab name.</span>
   <span style="color:#0057ae">$tabs</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$tab_name</span><span style="color:#000000">} = []</span> <span style="color:#000000; font-weight:bold">unless</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$tabs</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$tab_name</span><span style="color:#000000">};</span>
   <span style="color:#000000; font-weight:bold">push</span> &#64;<span style="color:#000000">{</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$tab_name</span><span style="color:#000000">}},</span> <span style="color:#0057ae">$url</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>

<span style="color:#838183; font-style:italic"># Keep a quick record of any error messages that might help debug why a feed failed, for inclusion in the HTML.</span>
<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$error_messages</span> <span style="color:#000000">= {};</span>   <span style="color:#838183; font-style:italic"># feed url -&gt; string</span>

<span style="color:#000000; font-weight:bold">sub</span> main
<span style="color:#000000">{</span>
   <span style="color:#838183; font-style:italic"># Create our Twig object and tell it what bits we're interested in.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$twig</span> <span style="color:#000000">=</span> XML<span style="color:#000000">::</span>Twig<span style="color:#000000">-&gt;</span><span style="color:#010181">new</span><span style="color:#000000">(</span>
         twig_handlers <span style="color:#000000">=&gt; {</span>
            <span style="color:#bf0303">'Tab//Module[&#64;type=&quot;RSS&quot;]/ModulePrefs'</span> <span style="color:#000000">=&gt;</span> \<span style="color:#000000">&amp;</span>collect_feed_urls<span style="color:#000000">,</span>
         <span style="color:#000000">}</span>
      <span style="color:#000000">);</span>
   <span style="color:#0057ae">$twig</span><span style="color:#000000">-&gt;</span><span style="color:#010181">parsefile</span><span style="color:#000000">(</span><span style="color:#0057ae">$igoogle_settings_filename</span><span style="color:#000000">);</span> <span style="color:#838183; font-style:italic"># XML::Twig will just die if there's a problem. Fine by me.</span>

   <span style="color:#838183; font-style:italic"># Fetch the feeds.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$rsses</span> <span style="color:#000000">=</span> get_feeds<span style="color:#000000">(</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">);</span>

   <span style="color:#838183; font-style:italic"># Print the HTML.</span>
   <span style="color:#000000; font-weight:bold">print</span> create_html<span style="color:#000000">(</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">,</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">);</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> get_feeds
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># Fetch the feeds and build a hashref of feed url =&gt; XML:RSS object (or undef)</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$rsses</span> <span style="color:#000000">= {};</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$url_list</span> <span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">values</span> <span style="color:#000000">%</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$url</span> <span style="color:#000000">(</span>&#64;<span style="color:#0057ae">$url_list</span><span style="color:#000000">) {</span>
         <span style="color:#0057ae">$rsses</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$url</span><span style="color:#000000">} =</span> get_feed<span style="color:#000000">(</span><span style="color:#0057ae">$url</span><span style="color:#000000">);</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>

<span style="color:#000000; font-weight:bold">sub</span> get_feed
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$url</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># Use LWP::UserAgent to fetch the page for us, and decode it from whatever text encoding it uses.</span>
   <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot;Fetching $url ...&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$ua</span> <span style="color:#000000">=</span> LWP<span style="color:#000000">::</span>UserAgent<span style="color:#000000">-&gt;</span><span style="color:#010181">new</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$ua</span><span style="color:#000000">-&gt;</span><span style="color:#010181">timeout</span><span style="color:#000000">(</span><span style="color:#b07e00">30</span><span style="color:#000000">);</span>    <span style="color:#838183; font-style:italic"># A timeout of 30 seconds seems reasonable.</span>
   <span style="color:#0057ae">$ua</span><span style="color:#000000">-&gt;</span><span style="color:#010181">env_proxy</span><span style="color:#000000">;</span>      <span style="color:#838183; font-style:italic"># Read proxy settings from environment variables.</span>
   <span style="color:#838183; font-style:italic"># One step that became necessary: LIE TO THE WEBSITES. Without this, Questionable Content</span>
   <span style="color:#838183; font-style:italic"># and some other sites instantly give us a 403 Forbidden when we try to get their RSS.</span>
   <span style="color:#838183; font-style:italic"># I know that Jeph Jacques, author of QC, did have some problem a while ago with some</span>
   <span style="color:#838183; font-style:italic"># Android app that was &quot;Stealing&quot; his content by grabbing the image directly and not the</span>
   <span style="color:#838183; font-style:italic"># advertising that supports his site. That's fine, but user-agent filters harm the web.</span>
   <span style="color:#838183; font-style:italic"># I'm just trying to get a feed of comic updates, here - I don't care if there's no in-line</span>
   <span style="color:#838183; font-style:italic"># image right there in the feed, all I need is a simple list of links to QC's archive</span>
   <span style="color:#838183; font-style:italic"># pages. That way Jeph gets his ad revenue, and his site is easy to check for new updates.</span>
   <span style="color:#838183; font-style:italic"># Sigh. Stuff like this, and sites that require Javascript to display simple images and text</span>
   <span style="color:#838183; font-style:italic"># are a blight on the internet.</span>
   <span style="color:#0057ae">$ua</span><span style="color:#000000">-&gt;</span><span style="color:#010181">agent</span><span style="color:#000000">(</span><span style="color:#bf0303">&quot;Mozilla/5.0 Firefox/25.0&quot;</span><span style="color:#000000">);</span>

   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$response</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$ua</span><span style="color:#000000">-&gt;</span><span style="color:#010181">get</span><span style="color:#000000">(</span><span style="color:#0057ae">$url</span><span style="color:#000000">);</span>
   <span style="color:#000000; font-weight:bold">unless</span> <span style="color:#000000">(</span><span style="color:#0057ae">$response</span><span style="color:#000000">-&gt;</span><span style="color:#010181">is_success</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot; Failed! &quot;</span><span style="color:#000000">,</span> <span style="color:#0057ae">$response</span><span style="color:#000000">-&gt;</span><span style="color:#010181">status_line</span><span style="color:#000000">,</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#0057ae">$error_messages</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$url</span><span style="color:#000000">} =</span> <span style="color:#bf0303">&quot;Feed download failed: $response-&gt;status_line&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">return</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$feed_text</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$response</span><span style="color:#000000">-&gt;</span><span style="color:#010181">decoded_content</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Obtained a bit of text over the interwebs, but is it valid RSS?</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$rss</span> <span style="color:#000000">=</span> XML<span style="color:#000000">::</span>RSS<span style="color:#000000">-&gt;</span><span style="color:#010181">new</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">eval</span> <span style="color:#000000">{</span>
      <span style="color:#0057ae">$rss</span><span style="color:#000000">-&gt;</span><span style="color:#010181">parse</span><span style="color:#000000">(</span><span style="color:#0057ae">$feed_text</span><span style="color:#000000">);</span>
   <span style="color:#000000">};</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">($</span>&#64;<span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot; Bad RSS feed!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#0057ae">$error_messages</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$url</span><span style="color:#000000">} =</span> <span style="color:#bf0303">&quot;RSS parsing failed: $&#64;&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">return</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot; OK</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$rss</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> create_html
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">,</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$output</span> <span style="color:#000000">=</span> <span style="color:#bf0303">&quot;&quot;</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># My HTML syntax-highlighter hates the &lt;meta&gt; line for some reason, but only in the full script.</span>
   <span style="color:#838183; font-style:italic"># It's getting confused about just what it's being asked to highlight, perhaps.</span>
   <span style="color:#838183; font-style:italic"># Oh well! TMTOWTDI.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$content</span> <span style="color:#000000">=</span> <span style="color:#bf0303">&quot;text/html;charset=utf-8&quot;</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">{&lt;!</span>DOCTYPE HTML PUBLIC <span style="color:#bf0303">&quot;-//W3C//DTD HTML 4.01 Transitional//EN&quot;</span><span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">};</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!&lt;</span>html<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;</span>head<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!    &lt;</span>meta http<span style="color:#000000">-</span>equiv<span style="color:#000000">=</span><span style="color:#bf0303">&quot;content-type&quot;</span> content<span style="color:#000000">=</span><span style="color:#bf0303">&quot;$content&quot;</span> <span style="color:#000000">/&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!    &lt;</span>title<span style="color:#000000">&gt;</span>maiGoogle<span style="color:#000000">&lt;/</span>title<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;/</span>head<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;</span>body<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>

   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> html_body<span style="color:#000000">(</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">,</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">);</span>

   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;/</span>body<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!&lt;/</span>html<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$output</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>

<span style="color:#000000; font-weight:bold">sub</span> html_body
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">,</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$output</span> <span style="color:#000000">=</span> <span style="color:#bf0303">&quot;&quot;</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># For each Tab, print a header and the feeds. Tabs are sorted in alphabetical order, why not.</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$tabname</span> <span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">sort keys</span> <span style="color:#000000">%</span><span style="color:#0057ae">$tabs</span><span style="color:#000000">) {</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> html_tab<span style="color:#000000">(</span><span style="color:#0057ae">$tabname</span><span style="color:#000000">,</span> <span style="color:#0057ae">$tabs</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$tabname</span><span style="color:#000000">},</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$output</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>

<span style="color:#000000; font-weight:bold">sub</span> html_tab
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$tabname</span><span style="color:#000000">,</span> <span style="color:#0057ae">$url_list</span><span style="color:#000000">,</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$output</span> <span style="color:#000000">=</span> <span style="color:#bf0303">&quot;&quot;</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!</span><span style="color:#ff00ff">\n</span><span style="color:#000000">&lt;</span>h1<span style="color:#000000">&gt;</span><span style="color:#0057ae">$tabname</span><span style="color:#000000">&lt;/</span>h1<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$url</span> <span style="color:#000000">(</span>&#64;<span style="color:#0057ae">$url_list</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$rss</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$rsses</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$url</span><span style="color:#000000">};</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> html_rss_feed<span style="color:#000000">(</span><span style="color:#0057ae">$url</span><span style="color:#000000">,</span> <span style="color:#0057ae">$rss</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$output</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>

<span style="color:#000000; font-weight:bold">sub</span> sanify
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$str</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$str</span> <span style="color:#010181">//</span><span style="color:#000000">=</span> <span style="color:#bf0303">&quot;&quot;</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$str</span> <span style="color:#000000">=~</span> <span style="color:#010181">s/&lt;/&amp;lt;/g</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$str</span> <span style="color:#000000">=~</span> <span style="color:#010181">s/&gt;/&amp;gt;/g</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$str</span> <span style="color:#000000">=~</span> <span style="color:#010181">s/&amp;/&amp;amp;/g</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$str</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>

<span style="color:#000000; font-weight:bold">sub</span> html_rss_feed
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$url</span><span style="color:#000000">,</span> <span style="color:#0057ae">$rss</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$output</span> <span style="color:#000000">=</span> <span style="color:#bf0303">&quot;&quot;</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Not all the feeds might have been fetched OK, or some might not have parsed properly.</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">( !</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$rss</span><span style="color:#000000">) {</span>
      <span style="color:#838183; font-style:italic"># Do we know what went wrong?</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$error</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$error_messages</span><span style="color:#000000">-&gt;{</span><span style="color:#0057ae">$url</span><span style="color:#000000">}</span> <span style="color:#010181">//</span> <span style="color:#bf0303">&quot;The feed failed to load for mysterious reasons, sorry.&quot;</span><span style="color:#000000">;</span>
      sanify<span style="color:#000000">(</span><span style="color:#0057ae">$error</span><span style="color:#000000">);</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!&lt;</span>div class<span style="color:#000000">=</span><span style="color:#bf0303">&quot;feed&quot;</span><span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;</span>span class<span style="color:#000000">=</span><span style="color:#bf0303">&quot;title&quot;</span><span style="color:#000000">&gt;&lt;</span>a href<span style="color:#000000">=</span><span style="color:#bf0303">&quot;$url&quot;</span><span style="color:#000000">&gt;</span><span style="color:#0057ae">$url</span><span style="color:#000000">&lt;</span><span style="color:#010181">/a&gt;&lt;/spa</span>n<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;</span>p class<span style="color:#000000">=</span><span style="color:#bf0303">&quot;fail&quot;</span><span style="color:#000000">&gt;</span><span style="color:#0057ae">$error</span><span style="color:#000000">&lt;/</span>p<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!&lt;/</span>div<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
      <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$output</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#838183; font-style:italic"># Feed seems to have loaded OK.</span>

   <span style="color:#838183; font-style:italic"># Figure out what the title of this feed is; default to the URL.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$title</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$rss</span><span style="color:#000000">-&gt;</span><span style="color:#010181">channel</span><span style="color:#000000">(</span><span style="color:#bf0303">'title'</span><span style="color:#000000">)</span> <span style="color:#010181">//</span> <span style="color:#0057ae">$url</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$title</span> <span style="color:#000000">=</span> sanify<span style="color:#000000">(</span><span style="color:#0057ae">$title</span><span style="color:#000000">);</span>
   <span style="color:#838183; font-style:italic"># Where should clicking the title of the feed box link to?</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$title_link</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$rss</span><span style="color:#000000">-&gt;</span><span style="color:#010181">channel</span><span style="color:#000000">(</span><span style="color:#bf0303">'link'</span><span style="color:#000000">)</span> <span style="color:#010181">//</span> <span style="color:#0057ae">$url</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$title_link</span> <span style="color:#000000">=</span> sanify<span style="color:#000000">(</span><span style="color:#0057ae">$title_link</span><span style="color:#000000">);</span>

   <span style="color:#838183; font-style:italic"># Show them the top few items.</span>

   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!&lt;</span>div class<span style="color:#000000">=</span><span style="color:#bf0303">&quot;feed&quot;</span><span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;</span>span class<span style="color:#000000">=</span><span style="color:#bf0303">&quot;title&quot;</span><span style="color:#000000">&gt;&lt;</span>a href<span style="color:#000000">=</span><span style="color:#bf0303">&quot;$title_link&quot;</span><span style="color:#000000">&gt;</span><span style="color:#0057ae">$title</span><span style="color:#000000">&lt;</span><span style="color:#010181">/a&gt;&lt;/spa</span>n<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;</span>span class<span style="color:#000000">=</span><span style="color:#bf0303">&quot;rsslink&quot;</span><span style="color:#000000">&gt;&lt;</span>a href<span style="color:#000000">=</span><span style="color:#bf0303">&quot;$url&quot;</span><span style="color:#000000">&gt;</span>rss<span style="color:#000000">&lt;</span><span style="color:#010181">/a&gt;&lt;/spa</span>n<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;</span>ul<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>

   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;items</span> <span style="color:#000000">=</span> &#64;<span style="color:#000000">{</span><span style="color:#0057ae">$rss</span><span style="color:#000000">-&gt;{</span>items<span style="color:#000000">}};</span>
   <span style="color:#838183; font-style:italic"># Remove elements from the list, starting at N, to the end. This leaves elements 0..(N-1).</span>
   <span style="color:#000000; font-weight:bold">splice</span> <span style="color:#0057ae">&#64;items</span><span style="color:#000000">,</span> <span style="color:#0057ae">$number_of_rss_items_per_feed</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Show them as list items.</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$item</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;items</span><span style="color:#000000">) {</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!    &lt;</span>li<span style="color:#000000">&gt; !;</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> html_rss_item<span style="color:#000000">(</span><span style="color:#0057ae">$item</span><span style="color:#000000">);</span>
      <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">! &lt;/</span>li<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#000000">}</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!  &lt;/</span>ul<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>
   <span style="color:#0057ae">$output</span> <span style="color:#000000">.=</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!&lt;/</span>div<span style="color:#000000">&gt;</span><span style="color:#ff00ff">\n</span><span style="color:#000000">!;</span>

   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$output</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>

<span style="color:#000000; font-weight:bold">sub</span> html_rss_item
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$item</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># Return an html link to this RSS feed item.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$title</span> <span style="color:#000000">=</span> sanify<span style="color:#000000">(</span><span style="color:#0057ae">$item</span><span style="color:#000000">-&gt;{</span>title<span style="color:#000000">});</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$link</span> <span style="color:#000000">=</span> sanify<span style="color:#000000">(</span><span style="color:#0057ae">$item</span><span style="color:#000000">-&gt;{</span><span style="color:#000000; font-weight:bold">link</span><span style="color:#000000">});</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#000000; font-weight:bold">qq</span><span style="color:#000000">!&lt;</span>a href<span style="color:#000000">=</span><span style="color:#bf0303">&quot;$link&quot;</span><span style="color:#000000">&gt;</span><span style="color:#0057ae">$title</span><span style="color:#000000">&lt;/</span>a<span style="color:#000000">&gt;!;</span>
<span style="color:#000000">}</span>

main<span style="color:#000000">();</span>
</pre>

<p>You can run this as-is by invoking e.g.</p>

<pre><code>./maiGoogle.pl &gt;maiGoogle.html
</code></pre>

<p>or put it in your crontab to run hourly or whatever. It wouldn't work well as a CGI script because it's going to have to check <strong>all</strong> of those feeds before it gets around to returning a page to you, every time.</p>

<p>I'm not going to promise further refinements in weekly installments, because we all know how <em>that goes</em>. If future posts happen, they happen; if not, tweak it yourself!</p>
