<h2>Naming Names, Part 2</h2>

<p>Remember how, in the last post, I invited you all to join me "next week" for part 2? What a funny joke that was! In the meantime I've been busy being sick, getting sucked back into WoW thanks to a "gift" from a "friend", and have been dealing with hilariously bad hardware failures. But I'm finally back to finish what I started, because I owe you all that much.</p>
<br />
<p>In <a href="http://blog.lazycat.com.au/2013/05/naming-names-part-1.html">Part 1</a>, we converted a crufty old shell script of mine to its Perl 5 equivalent, and then built it up a little to be more smart about how it goes about renaming files.</p>
<br />
<p>In Part two, we go nuts with feature-creep. Follow me along for the ride.</p>
<br />
<h2>Getting into an Argument</h2>

<p>Our little script is quite good so far, but there's one thing it doesn't do yet: <em>the thing it is designed to do</em>, rename files. Up until now I've left out the final <code>rename</code> call so that I can test that the program works without messing up my test files each time. Since I'm fairly confident it won't break now, let's add in this core functionality.</p><br />

<p>But I still want to be able to test substitution commands without renaming files. It's pretty essential to be able to preview the effects of a major renaming operation. To get the best of both worlds, let's add a command-line <strong>option</strong> that supresses the rename action and merely previews what the script would do.</p> <br />

<p>Parsing command-line options by hand is a tedious and thankless task. Naturally, Perl has a module to do all the hard work for us: <a href="https://metacpan.org/pod/Getopt::Long">Getopt::Long</a>. I'm pretty sure it comes as standard with any recent Perl distribution, and if for some reason it's not available on some strange system I'm using then I am sad and don't want to use that system.</p><br />

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">use</span> Getopt<span style="color:#000000">::</span>Long<span style="color:#000000">;</span>

<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$dryrun</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
GetOptions<span style="color:#000000">(</span><span style="color:#bf0303">&quot;dry-run|dryrun&quot;</span> <span style="color:#000000">=&gt;</span> \<span style="color:#0057ae">$dryrun</span><span style="color:#000000">);</span>
</pre>
<br />

<p>Parsing out a simple <code>--dry-run</code> flag from our argument list is as simple as loading the module, setting up a variable, and calling <code>GetOptions()</code>. I'm never any good at remembering if options have hyphens in them or not, so we use the <code>|</code> character to set up an alias; the user can type <code>--dry-run</code> or <code>--dryrun</code> and we get the same value stored in our <code>$dryrun</code> variable.</p><br />

<p>Now, I know that in the last post I said I didn't want to get into Perl references, because it's more of an advanced topic, and I'm not sure I can explain them without confusing people. However, to properly use the <code>GetOptions()</code> function, we do need to touch on them a little. The function takes a big list of key/value pairs where the key is what the option should be named and how it behaves, and the value is a variable of ours that will be filled in appropriately. But that means we can't just pass in the variable as <code>$dryrun</code> - that passes in the <strong>value</strong> of the <code>$dryrun</code> variable, and doesn't allow <code>GetOptions()</code> to modify it in any way. Normally, that's what you want from function parameters: You give it a set of values but you don't want any weird side effects at your end of the function call.</p><br />

<p>So instead of passing the <code>$dryrun</code> variable's <em>value</em>, we need to somehow provide <code>GetOptions()</code> with a <em>reference</em> to our variable, explicitly allowing the function to change the same value we are keeping in our code under the name <code>$dryrun</code>. In Perl, the way to get at a reference to a variable instead of the variable's value is by putting the backslash character in front of the usual sigil - <code>$var</code> becomes <code>\$var</code>, <code>@list</code> becomes <code>\@list</code>, <code>%hash</code> becomes <code>\%hash</code>. <code>GetOptions()</code> is expecting a reference, so it is free to change its value accordingly and we continue to use the variable as normal.</p><br />

<p>Here's the new subroutines for showing or performing our <code>@plan</code>:-</p><br />

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';">   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">map</span> <span style="color:#000000">{</span> <span style="color:#0057ae">$_</span><span style="color:#000000">,</span> <span style="color:#0057ae">$filename_mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$_</span><span style="color:#000000">} }</span> <span style="color:#0057ae">&#64;filenames</span><span style="color:#000000">;</span> <span style="color:#838183; font-style:italic"># pairs of oldname, newname.</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$dryrun</span><span style="color:#000000">) {</span>
      show_plan<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
      execute_plan<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> show_plan
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;Proposed changes:-</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">while</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$orig_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$orig_name</span> <span style="color:#000000; font-weight:bold">ne</span> <span style="color:#0057ae">$new_name</span><span style="color:#000000">) {</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name -&gt; $new_name</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name : unchanged.</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> execute_plan
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;Renaming files:-</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">while</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$orig_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$orig_name</span> <span style="color:#000000; font-weight:bold">ne</span> <span style="color:#0057ae">$new_name</span><span style="color:#000000">) {</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name -&gt; $new_name</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
         <span style="color:#000000; font-weight:bold">rename</span> <span style="color:#0057ae">$orig_name</span><span style="color:#000000">,</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000; font-weight:bold">or die</span> <span style="color:#bf0303">&quot;Failed to rename $orig_name : $!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name : unchanged.</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>
<span style="color:#000000">}</span>
</pre><br />

<p>Observe that we are finally calling <code>rename $orig_name, $new_name</code> - our program finally does what it was designed to do!</p><br />

<p>So far, we only need to use <code>--dry-run</code> as a <strong>flag</strong> - did the user specify it, or did they not? More complex command line arguments can be specified with <a href="https://metacpan.org/pod/Getopt::Long">Getopt::Long</a>, such as options which take an additional text parameter, or which can be used multiple times, but we shouldn't need those capabilities just yet. See the documentation on metacpan or use <code>perldoc Getopt::Long</code> for more information.</p><br />

<p>Since it's been a little while since the last post, here's the full text of the script so far:-</p><br />

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#838183; font-style:italic">#!/usr/bin/perl -CSDA</span>

<span style="color:#000000; font-weight:bold">use</span> strict<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> warnings<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> Getopt<span style="color:#000000">::</span>Long<span style="color:#000000">;</span>

<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$dryrun</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
GetOptions<span style="color:#000000">(</span><span style="color:#bf0303">&quot;dry-run|dryrun&quot;</span> <span style="color:#000000">=&gt;</span> \<span style="color:#0057ae">$dryrun</span><span style="color:#000000">);</span>

<span style="color:#000000; font-weight:bold">sub</span> help
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;Usage: $0 [--dry-run] '&lt;substitutions&gt;' filename(s)</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;  e.g. $0 's/from/to/g;' myfiles/*</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">exit</span> <span style="color:#b07e00">1</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> main
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$substitutions</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;filenames</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">%filename_mapping</span><span style="color:#000000">;</span>    <span style="color:#838183; font-style:italic"># original name =&gt; new name</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">%reverse_mapping</span><span style="color:#000000">;</span>     <span style="color:#838183; font-style:italic"># new name =&gt; original name</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$orig_filename</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;filenames</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_filename</span> <span style="color:#000000">=</span> transform_filename<span style="color:#000000">(</span><span style="color:#0057ae">$substitutions</span><span style="color:#000000">,</span> <span style="color:#0057ae">$orig_filename</span><span style="color:#000000">);</span>
      <span style="color:#0057ae">$filename_mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$orig_filename</span><span style="color:#000000">} =</span> <span style="color:#0057ae">$new_filename</span><span style="color:#000000">;</span>
      <span style="color:#0057ae">$reverse_mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$new_filename</span><span style="color:#000000">} =</span> <span style="color:#0057ae">$orig_filename</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#838183; font-style:italic"># Check there are no filename collisions; the number of unique output filenames</span>
   <span style="color:#838183; font-style:italic"># should be equal to the number of unique input filenames.</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">keys</span> <span style="color:#0057ae">%filename_mapping</span> <span style="color:#000000">!=</span> <span style="color:#000000; font-weight:bold">keys</span> <span style="color:#0057ae">%reverse_mapping</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">die</span> <span style="color:#bf0303">&quot;Given substitution commands result in non-unique filenames, refusing to clobber your files.</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">map</span> <span style="color:#000000">{</span> <span style="color:#0057ae">$_</span><span style="color:#000000">,</span> <span style="color:#0057ae">$filename_mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$_</span><span style="color:#000000">} }</span> <span style="color:#0057ae">&#64;filenames</span><span style="color:#000000">;</span> <span style="color:#838183; font-style:italic"># pairs of oldname, newname.</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$dryrun</span><span style="color:#000000">) {</span>
      show_plan<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
      execute_plan<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> show_plan
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;Proposed changes:-</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">while</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$orig_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$orig_name</span> <span style="color:#000000; font-weight:bold">ne</span> <span style="color:#0057ae">$new_name</span><span style="color:#000000">) {</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name -&gt; $new_name</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name : unchanged.</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> execute_plan
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;Renaming files:-</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">while</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$orig_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$orig_name</span> <span style="color:#000000; font-weight:bold">ne</span> <span style="color:#0057ae">$new_name</span><span style="color:#000000">) {</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name -&gt; $new_name</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
         <span style="color:#000000; font-weight:bold">rename</span> <span style="color:#0057ae">$orig_name</span><span style="color:#000000">,</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000; font-weight:bold">or die</span> <span style="color:#bf0303">&quot;Failed to rename $orig_name : $!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name : unchanged.</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> transform_filename
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$substitutions</span><span style="color:#000000">,</span> <span style="color:#0057ae">$orig_filename</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#0057ae">$_</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$orig_filename</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$rval</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">eval</span> <span style="color:#0057ae">$substitutions</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_filename</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">die</span> <span style="color:#bf0303">&quot;Error in substitutions: $&#64;&quot;</span> <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">$</span>&#64;<span style="color:#000000">;</span>

   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$new_filename</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>


help<span style="color:#000000">()</span> <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;ARGV</span> <span style="color:#000000">&lt;</span> <span style="color:#b07e00">2</span><span style="color:#000000">);</span>
main<span style="color:#000000">(</span><span style="color:#0057ae">&#64;ARGV</span><span style="color:#000000">);</span>
</pre><br />

<h2>Living on the Edge</h2>

<p>90% of a good programmer's time is spent thinking about edge cases. The other 90% is accounted for by a complete inability to come up with accurate time estimates.</p><br />

<p>There are a few situations that we might find ourselves in when using this script where we might try to be clever and end up shooting ourselves in the foot. Say we had a bunch of sequentially-numbered files. For whatever reason, we need those numbers incremented by one. We might try something like the following:-</p><br />

<pre><code>james@qi: ~/Ubuntu One/blogpost/example2
$ ls
IMG_0013.JPG  IMG_0014.JPG  IMG_0015.JPG  IMG_0016.JPG  INVISIBLE BIKE.JPG

james@qi: ~/Ubuntu One/blogpost/example2
$ ../filenamesed6.pl --dry-run 'if ($_ =~ /IMG_(\d+)\.JPG/) { my $num = $1 + 1; $_ = sprintf("IMG_%04d.JPG", $num); }' *.JPG
Proposed changes:-
IMG_0013.JPG -&gt; IMG_0014.JPG
IMG_0014.JPG -&gt; IMG_0015.JPG
IMG_0015.JPG -&gt; IMG_0016.JPG
IMG_0016.JPG -&gt; IMG_0017.JPG
INVISIBLE BIKE.JPG : unchanged.
</code></pre><br />

<p>The transformation we are applying here is a little more complex than the simple substitutions we've been doing up until now; it is the benefit of converting our script to use Perl <em>(we get to use arbitrary Perl commands!)</em> and also the drawback <em>(I can do more complex things now... which is complex!)</em>. My little one-liner there can be written slightly more clearly as:-</p><br />

<pre><code>if ($_ =~ /IMG_(\d+)\.JPG/) {
   my $num = $1 + 1;
   $_ = sprintf("IMG_%04d.JPG", $num);
}
</code></pre><br />

<p>This matches only the IMG_ files, capturing the sequence of digits in the name. It adds one to that, and reformats the filename using sprintf - four digits with leading zeroes. So this will bump up the number for each of those files by one. Pretty clever, huh? Except we're shooting ourselves in the foot. Take a look at the proposed changes again; it intends to rename image #13 to #14, <strong>then</strong> rename image #14 to #15. Except after that first step, IMG_0013.JPG will have been moved over the top of IMG_0014.JPG and clobbered it. By the end, you'll be left with only one photo left, IMG_0017.JPG, and it will have the contents of the former #13. We need to make the script smarter so that it can handle this case.</p><br />

<p>Here's the approach I'm taking to re-order the plan before we execute it:-</p><br />

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> reorder_plan
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">%mapping</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;new_plan</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$frustration</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># Go through the plan, pushing pairs on to &#64;new_plan only if it's safe to do that step.</span>
   <span style="color:#838183; font-style:italic"># It is safe to do that step only if the destination name does not appear in </span>
   <span style="color:#838183; font-style:italic"># &#64;plan's remaining list of source names. (or if filename is unchanged)</span>
   <span style="color:#000000; font-weight:bold">while</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$orig_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$orig_name</span> <span style="color:#000000; font-weight:bold">eq</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000">|| !</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$new_name</span><span style="color:#000000">}) {</span>
         <span style="color:#838183; font-style:italic"># This one is safe. Add it to the new plan.</span>
         <span style="color:#000000; font-weight:bold">push</span> <span style="color:#0057ae">&#64;new_plan</span><span style="color:#000000">,</span> <span style="color:#0057ae">$orig_name</span><span style="color:#000000">,</span> <span style="color:#0057ae">$new_name</span><span style="color:#000000">;</span>
         <span style="color:#000000; font-weight:bold">delete</span> <span style="color:#0057ae">$mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$orig_name</span><span style="color:#000000">};</span>
         <span style="color:#0057ae">$frustration</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
         <span style="color:#838183; font-style:italic"># This one is not safe to do (yet). Put it at the back of the current plan.</span>
         <span style="color:#000000; font-weight:bold">push</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">,</span> <span style="color:#0057ae">$orig_name</span><span style="color:#000000">,</span> <span style="color:#0057ae">$new_name</span><span style="color:#000000">;</span>
         <span style="color:#0057ae">$frustration</span><span style="color:#000000">++;</span>
         <span style="color:#838183; font-style:italic"># Is the whole thing impossible?</span>
         <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$frustration</span> <span style="color:#000000">*</span> <span style="color:#b07e00">2</span> <span style="color:#000000">&gt;=</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
            <span style="color:#000000; font-weight:bold">die</span> <span style="color:#bf0303">&quot;I can't figure out how to order this plan without clobbering things mid-process!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
         <span style="color:#000000">}</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>

   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">&#64;new_plan</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>
</pre><br />

<p>It takes a list of filename pairs (the <code>@plan</code>) and returns a list of pairs (<code>@new_plan</code>). The <code>%mapping</code> hash is also assigned to the <code>@_</code> list of arguments, which fills in the hash based on those pairs. I keep a count of the algorithm's <code>$frustration</code> so that it won't get stuck in an infinite loop if asked to sort out some horrible circular mapping.</p><br />

<p>The body of the loop is fairly straightforward; removing a pair of names from the start of the <code>@plan</code>, it checks to see if the <code>$new_name</code> from this action would clobber any of the remaining original names on the plan (via the handy <code>%mapping</code> hash we built). If it's safe, it pushes that pair onto the back of <code>@new_plan</code>; if not, it goes on the back of the current <code>@plan</code> list that we are currently processing. That way, we can give it another try after we've cleared some space.</p><br />

<p>Let's try it again on the "incrementing photo numbers" example:-</p><br />

<pre><code>james@qi: ~/Ubuntu One/blogpost/example2
$ ../filenamesed6.pl --dry-run 'if ($_ =~ /IMG_(\d+)\.JPG/) { my $num = $1 + 1; $_ = sprintf("IMG_%04d.JPG", $num); }' *.JPG
Proposed changes:-
IMG_0016.JPG -&gt; IMG_0017.JPG
INVISIBLE BIKE.JPG : unchanged.
IMG_0015.JPG -&gt; IMG_0016.JPG
IMG_0014.JPG -&gt; IMG_0015.JPG
IMG_0013.JPG -&gt; IMG_0014.JPG
</code></pre><br />

<p>Excellent! It's figured out it can do the renaming in reverse order and won't accidentally murder your vacation photos. Here's the final version of the script without any promises for future posts on the matter:-</p><br />

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#838183; font-style:italic">#!/usr/bin/perl -CSDA</span>

<span style="color:#000000; font-weight:bold">use</span> strict<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> warnings<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> Getopt<span style="color:#000000">::</span>Long<span style="color:#000000">;</span>

<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$dryrun</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
GetOptions<span style="color:#000000">(</span><span style="color:#bf0303">&quot;dry-run|dryrun&quot;</span> <span style="color:#000000">=&gt;</span> \<span style="color:#0057ae">$dryrun</span><span style="color:#000000">);</span>

<span style="color:#000000; font-weight:bold">sub</span> help
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;Usage: $0 [--dry-run] '&lt;substitutions&gt;' filename(s)</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;  e.g. $0 's/from/to/g;' myfiles/*</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">exit</span> <span style="color:#b07e00">1</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> main
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$substitutions</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;filenames</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">%filename_mapping</span><span style="color:#000000">;</span>    <span style="color:#838183; font-style:italic"># original name =&gt; new name</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">%reverse_mapping</span><span style="color:#000000">;</span>     <span style="color:#838183; font-style:italic"># new name =&gt; original name</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$orig_filename</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;filenames</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_filename</span> <span style="color:#000000">=</span> transform_filename<span style="color:#000000">(</span><span style="color:#0057ae">$substitutions</span><span style="color:#000000">,</span> <span style="color:#0057ae">$orig_filename</span><span style="color:#000000">);</span>
      <span style="color:#0057ae">$filename_mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$orig_filename</span><span style="color:#000000">} =</span> <span style="color:#0057ae">$new_filename</span><span style="color:#000000">;</span>
      <span style="color:#0057ae">$reverse_mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$new_filename</span><span style="color:#000000">} =</span> <span style="color:#0057ae">$orig_filename</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#838183; font-style:italic"># Check there are no filename collisions; the number of unique output filenames</span>
   <span style="color:#838183; font-style:italic"># should be equal to the number of unique input filenames.</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">keys</span> <span style="color:#0057ae">%filename_mapping</span> <span style="color:#000000">!=</span> <span style="color:#000000; font-weight:bold">keys</span> <span style="color:#0057ae">%reverse_mapping</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">die</span> <span style="color:#bf0303">&quot;Given substitution commands result in non-unique filenames, refusing to clobber your files.</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">map</span> <span style="color:#000000">{</span> <span style="color:#0057ae">$_</span><span style="color:#000000">,</span> <span style="color:#0057ae">$filename_mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$_</span><span style="color:#000000">} }</span> <span style="color:#0057ae">&#64;filenames</span><span style="color:#000000">;</span> <span style="color:#838183; font-style:italic"># pairs of oldname, newname.</span>
   <span style="color:#838183; font-style:italic"># Re-order the plan to make it safe against stepping on our own toes while renaming.</span>
   <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> reorder_plan<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
   <span style="color:#838183; font-style:italic"># Show it or do it.</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$dryrun</span><span style="color:#000000">) {</span>
      show_plan<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
      execute_plan<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> show_plan
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;Proposed changes:-</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">while</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$orig_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$orig_name</span> <span style="color:#000000; font-weight:bold">ne</span> <span style="color:#0057ae">$new_name</span><span style="color:#000000">) {</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name -&gt; $new_name</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name : unchanged.</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> reorder_plan
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">%mapping</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;new_plan</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$frustration</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
   <span style="color:#838183; font-style:italic"># Go through the plan, pushing pairs on to &#64;new_plan only if it's safe to do that step.</span>
   <span style="color:#838183; font-style:italic"># It is safe to do that step only if the destination name does not appear in </span>
   <span style="color:#838183; font-style:italic"># &#64;plan's remaining list of source names. (or if filename is unchanged)</span>
   <span style="color:#000000; font-weight:bold">while</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$orig_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$orig_name</span> <span style="color:#000000; font-weight:bold">eq</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000">|| !</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$new_name</span><span style="color:#000000">}) {</span>
         <span style="color:#838183; font-style:italic"># This one is safe. Add it to the new plan.</span>
         <span style="color:#000000; font-weight:bold">push</span> <span style="color:#0057ae">&#64;new_plan</span><span style="color:#000000">,</span> <span style="color:#0057ae">$orig_name</span><span style="color:#000000">,</span> <span style="color:#0057ae">$new_name</span><span style="color:#000000">;</span>
         <span style="color:#000000; font-weight:bold">delete</span> <span style="color:#0057ae">$mapping</span><span style="color:#000000">{</span><span style="color:#0057ae">$orig_name</span><span style="color:#000000">};</span>
         <span style="color:#0057ae">$frustration</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
         <span style="color:#838183; font-style:italic"># This one is not safe to do (yet). Put it at the back of the current plan.</span>
         <span style="color:#000000; font-weight:bold">push</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">,</span> <span style="color:#0057ae">$orig_name</span><span style="color:#000000">,</span> <span style="color:#0057ae">$new_name</span><span style="color:#000000">;</span>
         <span style="color:#0057ae">$frustration</span><span style="color:#000000">++;</span>
         <span style="color:#838183; font-style:italic"># Is the whole thing impossible?</span>
         <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$frustration</span> <span style="color:#000000">*</span> <span style="color:#b07e00">2</span> <span style="color:#000000">&gt;=</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
            <span style="color:#000000; font-weight:bold">die</span> <span style="color:#bf0303">&quot;I can't figure out how to order this plan without clobbering things mid-process!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
         <span style="color:#000000">}</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>

   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">&#64;new_plan</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> execute_plan
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;Renaming files:-</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">while</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$orig_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$orig_name</span> <span style="color:#000000; font-weight:bold">ne</span> <span style="color:#0057ae">$new_name</span><span style="color:#000000">) {</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name -&gt; $new_name</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
         <span style="color:#000000; font-weight:bold">rename</span> <span style="color:#0057ae">$orig_name</span><span style="color:#000000">,</span> <span style="color:#0057ae">$new_name</span> <span style="color:#000000; font-weight:bold">or die</span> <span style="color:#bf0303">&quot;Failed to rename $orig_name : $!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
         <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;$orig_name : unchanged.</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> transform_filename
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$substitutions</span><span style="color:#000000">,</span> <span style="color:#0057ae">$orig_filename</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#0057ae">$_</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$orig_filename</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$rval</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">eval</span> <span style="color:#0057ae">$substitutions</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$new_filename</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">die</span> <span style="color:#bf0303">&quot;Error in substitutions: $&#64;&quot;</span> <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">$</span>&#64;<span style="color:#000000">;</span>

   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$new_filename</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>


help<span style="color:#000000">()</span> <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;ARGV</span> <span style="color:#000000">&lt;</span> <span style="color:#b07e00">2</span><span style="color:#000000">);</span>
main<span style="color:#000000">(</span><span style="color:#0057ae">&#64;ARGV</span><span style="color:#000000">);</span>
</pre><br />

<h2>Real World Usage</h2>

<p>Now that I've <em>finally</em> completed this post, I can use the script for my own purposes. I've been wanting to reorganise the scans of various invoices I got from the health problems I had back in 2012. Originally, I named my files according to what I had done, when it was, and maybe some ancillary information. Here's a sample:-</p><br />

<pre><code>ANAS-20120426-invoice.png
ANAS-20120427-receipt.png
ENT-20120404-invoice-amended.jpg
ENT-20120404-receipt-sans-docket-needs-referral.png
ENT-20120404-receipt-with-docket-needs-referral.png
HCF-20120813-ANAS+CT-rebate.png
Medicare Claims 20120509 &amp; 20120711.png
MKPh-20120604-cortisol.png
MMI-20120330-receipt.png
MMI-20120403-receipt.png
MMI-20120426-the-missing-receipt.pdf
MMI-20120427-invoice1.jpg
MMI-20120427-invoice2.jpg
MMI-20120427-receipt1.jpg
MMI-20120427-receipt2.jpg
MMI-20120614-reminder.jpg
MQH-20120426-inpatient-excess.png
MQNS-20120402-receipt.jpg
MQOP-20120521-receipt.png
MQPh-20120427-receipt.png
</code></pre><br />

<p>However, having to deal with taxes and medicare claims and the ridiculous "financial year" system, I find I'd much rather have all these files named by date <em>first</em>, then all the rest. <em>If only</em> I'd made some sort of Perl 5 script that allowed me to use arbitrary Perl 5 regexps and expressions to rename files simply and easily!</p><br />

<p>My plan here is to match files with a -20120427 style date-stamp in them, capture that and replace it with the empty string, then prepend the date and a hyphen to the name. Here's the result:-</p><br />

<pre><code>james@qi: ~/Ubuntu One/blogpost/example3
$ ../filenamesed6.pl 'if (s/-(\d{8})//) { $_ = $1 . "-" . $_; }' *
Renaming files:-
ANAS-20120426-invoice.png -&gt; 20120426-ANAS-invoice.png
ANAS-20120427-receipt.png -&gt; 20120427-ANAS-receipt.png
ENT-20120404-invoice-amended.jpg -&gt; 20120404-ENT-invoice-amended.jpg
ENT-20120404-receipt-sans-docket-needs-referral.png -&gt; 20120404-ENT-receipt-sans-docket-needs-referral.png
ENT-20120404-receipt-with-docket-needs-referral.png -&gt; 20120404-ENT-receipt-with-docket-needs-referral.png
HCF-20120813-ANAS+CT-rebate.png -&gt; 20120813-HCF-ANAS+CT-rebate.png
Medicare Claims 20120509 &amp; 20120711.png : unchanged.
MKPh-20120604-cortisol.png -&gt; 20120604-MKPh-cortisol.png
MMI-20120330-receipt.png -&gt; 20120330-MMI-receipt.png
MMI-20120403-receipt.png -&gt; 20120403-MMI-receipt.png
MMI-20120426-the-missing-receipt.pdf -&gt; 20120426-MMI-the-missing-receipt.pdf
MMI-20120427-invoice1.jpg -&gt; 20120427-MMI-invoice1.jpg
MMI-20120427-invoice2.jpg -&gt; 20120427-MMI-invoice2.jpg
MMI-20120427-receipt1.jpg -&gt; 20120427-MMI-receipt1.jpg
MMI-20120427-receipt2.jpg -&gt; 20120427-MMI-receipt2.jpg
MMI-20120614-reminder.jpg -&gt; 20120614-MMI-reminder.jpg
MQH-20120426-inpatient-excess.png -&gt; 20120426-MQH-inpatient-excess.png
MQNS-20120402-receipt.jpg -&gt; 20120402-MQNS-receipt.jpg
MQOP-20120521-receipt.png -&gt; 20120521-MQOP-receipt.png
MQPh-20120427-receipt.png -&gt; 20120427-MQPh-receipt.png

james@qi: ~/Ubuntu One/blogpost/example3
$ ls
20120330-MMI-receipt.png
20120402-MQNS-receipt.jpg
20120403-MMI-receipt.png
20120404-ENT-invoice-amended.jpg
20120404-ENT-receipt-sans-docket-needs-referral.png
20120404-ENT-receipt-with-docket-needs-referral.png
20120426-ANAS-invoice.png
20120426-MMI-the-missing-receipt.pdf
20120426-MQH-inpatient-excess.png
20120427-ANAS-receipt.png
20120427-MMI-invoice1.jpg
20120427-MMI-invoice2.jpg
20120427-MMI-receipt1.jpg
20120427-MMI-receipt2.jpg
20120427-MQPh-receipt.png
20120521-MQOP-receipt.png
20120604-MKPh-cortisol.png
20120614-MMI-reminder.jpg
20120813-HCF-ANAS+CT-rebate.png
Medicare Claims 20120509 &amp; 20120711.png
</code></pre><br />

<p>Now I can very easily see my files in date order (the date of the event rather than the date the file was created), and instead of renaming them all by hand I just had to work a little regexp magic. This alone was worth the effort of making the script - and I get to reuse it again and again for any future filename wrangling I want to do.</p><br />

<p>I hope it can also be of use for everyone reading.</p><br />
