<h2>Integrating Integrity, part 2</h2>

<p>Last post, I made a perl script to generate MD5 checksums for me, while displaying a progress bar. Now I want to expand its functionality to generate a .md5sum file listing the md5 for everything in a given directory, or check all the files in the list to see if their actual md5 matches the 'correct' one. I will also set things up so that any checksum mismatches or other errors are reported at the end of the run so that they aren't pushed off the terminal's scrollback buffer when working with a large list of files.</p>

<h2>Making a list, checking it twice</h2>

<p>The file format I will support initially is the kind created by <code>md5sum my file names &gt; file.md5sum</code>. This way, I can use <code>vigil.pl</code> to check any of these files I come across, and if I'm somehow without my Perl version I can always fall back on venerable ol' <code>md5sum</code>. Contrary to what the manpage suggests, the format of these files is the hexadecimal md5 checksum, followed by <strong>exactly two spaces</strong>, then the file name. The manpage suggests a single space character is used for text files, and an asterisk for binary files, but I've <em>never</em> seen the asterisk variant in the wild - it might only matter on systems that have a separate mode for opening text files, like MS Windows. I'll just stick with the spaces, and make some simple subroutines to slurp a <code>.md5sum</code> file into a list of hashrefs, and to write out a .md5sum file based on the list of hashrefs we have in our <code>@plan</code>.</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> load_md5sum_file
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$filename</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Yep, we're assuming everything is utf8. Things which are not utf8 cause you pain. Horrible icky pain.</span>
   <span style="color:#000000; font-weight:bold">open</span><span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$fh</span><span style="color:#000000">,</span> <span style="color:#bf0303">'&lt;:utf8'</span><span style="color:#000000">,</span> <span style="color:#0057ae">$filename</span><span style="color:#000000">)</span> <span style="color:#000000; font-weight:bold">or die</span> <span style="color:#bf0303">&quot;Couldn't open '$filename' : $!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$linenum</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">while</span> <span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$line</span> <span style="color:#000000">= &lt;</span><span style="color:#0057ae">$fh</span><span style="color:#000000">&gt;) {</span>
      <span style="color:#000000; font-weight:bold">chomp</span> <span style="color:#0057ae">$line</span><span style="color:#000000">;</span>
      <span style="color:#0057ae">$linenum</span><span style="color:#000000">++;</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$line</span> <span style="color:#000000">=~</span> <span style="color:#010181">/^(?&lt;md5&gt;\p{ASCII_Hex_Digit}{32})  (?&lt;filename&gt;.*)$/</span><span style="color:#000000">) {</span>
         <span style="color:#838183; font-style:italic"># Checksum and filename compatible with md5sum output.</span>
         <span style="color:#000000; font-weight:bold">push</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">,</span> create_plan_for_filename<span style="color:#000000">($+{</span>filename<span style="color:#000000">}, $+{</span>md5<span style="color:#000000">});</span>

      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">elsif</span> <span style="color:#000000">(</span><span style="color:#0057ae">$line</span> <span style="color:#000000">=~</span> <span style="color:#010181">/^(?&lt;md5&gt;\p{ASCII_Hex_Digit}{32})  (?&lt;filename&gt;.*)$/</span><span style="color:#000000">) {</span>
         <span style="color:#838183; font-style:italic"># Checksum and filename compatible with md5sum's manpage but not valid for the actual program.</span>
         <span style="color:#838183; font-style:italic"># We'll use it, but complain.</span>
         <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;Warning: &quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'bold red'</span><span style="color:#000000">),</span> colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;md5sum entry '&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'red'</span><span style="color:#000000">),</span> <span style="color:#0057ae">$line</span><span style="color:#000000">,</span> colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;' on line $linenum of file $filename is using only one space, not two - this doesn't match the output of the actual md5sum program!.&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'red'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
         <span style="color:#000000; font-weight:bold">push</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">,</span> create_plan_for_filename<span style="color:#000000">($+{</span>filename<span style="color:#000000">}, $+{</span>md5<span style="color:#000000">});</span>

      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">elsif</span> <span style="color:#000000">(</span><span style="color:#0057ae">$line</span> <span style="color:#000000">=~</span> <span style="color:#010181">/^\s*$/</span><span style="color:#000000">) {</span>
         <span style="color:#838183; font-style:italic"># Blank line, ignore.</span>

      <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
         <span style="color:#838183; font-style:italic"># No idea. Best not to keep quiet, it could be a malformed checksum line and we don't want to just quietly skip the file if so.</span>
         <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;Warning: &quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'bold red'</span><span style="color:#000000">),</span> colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;Unrecognised md5sum entry '&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'red'</span><span style="color:#000000">),</span> <span style="color:#0057ae">$line</span><span style="color:#000000">,</span> colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;' on line $linenum of file $filename.&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'red'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
         <span style="color:#000000; font-weight:bold">push</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">, {</span> error <span style="color:#000000">=&gt;</span> <span style="color:#bf0303">&quot;Unrecognised md5sum entry&quot;</span> <span style="color:#000000">};</span>
      <span style="color:#000000">}</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">close</span><span style="color:#000000">(</span><span style="color:#0057ae">$fh</span><span style="color:#000000">)</span> <span style="color:#000000; font-weight:bold">or die</span> <span style="color:#bf0303">&quot;Couldn't close '$filename' : $!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>

   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> save_md5sum_file
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$filename</span><span style="color:#000000">,</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#000000; font-weight:bold">open</span><span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$fh</span><span style="color:#000000">,</span> <span style="color:#bf0303">'&gt;:utf8'</span><span style="color:#000000">,</span> <span style="color:#0057ae">$filename</span><span style="color:#000000">)</span> <span style="color:#000000; font-weight:bold">or die</span> <span style="color:#bf0303">&quot;Couldn't write to '$filename' : $!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$plan_entry</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">next unless</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>correct_md5<span style="color:#000000">};</span>
      <span style="color:#000000; font-weight:bold">next unless</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">};</span>
      <span style="color:#000000; font-weight:bold">print</span> <span style="color:#0057ae">$fh</span> <span style="color:#bf0303">&quot;$plan_entry-&gt;{correct_md5}  $plan_entry-&gt;{filename}</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">close</span><span style="color:#000000">(</span><span style="color:#0057ae">$fh</span><span style="color:#000000">)</span> <span style="color:#000000; font-weight:bold">or die</span> <span style="color:#bf0303">&quot;Couldn't close '$filename' : $!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>
</pre>

<p>Loading the file basically just iterates over each line of the file with <code>&lt;$fh&gt;</code> and checking the line against a regular expression that captures the fields we want. Here's the expression in all its Perly glory:-</p>

<pre><code>^(?&lt;md5&gt;\p{ASCII_Hex_Digit}{32})  (?&lt;filename&gt;.*)$
</code></pre>

<p>I'm using a feature introduced back in Perl 5.10 - named capture groups. Instead of having a bunch of parens capturing various parts of your pattern and then having to count them out to determine which is <code>$1</code>, <code>$2</code> etc, you can simply give them a name and refer to them as <code>$+{name}</code>. Furthermore, I'm using <code>\p</code> which lets you test for any character matching a particular Unicode property - it makes things a little more explicit about what I'm looking to match.</p>

<p>With our new ability to load and save <code>.md5sum</code> files, I moved on to writing a <code>verify_file_sums</code> sub that would go through each file referenced in that document and check it, again with a progress bar. However, it's basically a carbon copy of <code>display_file_sums</code> with a few minor changes. This kind of code duplication is no good, especially as we'll be making a <code>create_file_sums</code> which also does the same basic run through a list of files while reporting progress back to the user. We need to rip out the essence of these three functions and make something generic that can do the bulk of the work. Since they're all basically calling <code>run_md5_file</code> repeatedly while managing the progress bar, I guess I'll call it <code>run_md5_files_with_progress</code>. Yeah, inspiration isn't flowing strongly today.</p>

<h2>One Ring to find them</h2>

<p>With <code>run_md5_files_with_progress</code> taking care of the essence of doing all the checks and reporting progress back to the user, the subroutines that get called based on the kind of command-line action requested become much smaller and leaner. <code>verify_file_sums</code> just needs to build a plan by calling <code>load_md5sum_file</code>, and the original <code>display_file_sums</code> is just mapping the filenames from <code>@ARGV</code>. The act of creating a brand new <code>.md5sum</code> file from a big list of directories and files is more complicated. We want to be able to supply a directory name and have the program traverse that directory recursively, including all the files it finds along the way. To accomplish this, we pull in the Perl module <a href="http://metacpan.org/pod/File::Find">File::Find</a>.</p>

<p>File::Find's usage is pretty simple. You call <code>find()</code> in one of several ways to supply some options, a list of directories and files, and most importantly a 'wanted' function to be used as a callback. In our case, we want to define it as an anonymous subroutine written right there in-line with the call to <code>find()</code> so that I can easily reference the <code>@plan</code> I want to build up. The 'wanted' function will be called by File::Find at each file and directory it traverses. Here's what the code that deals with the <code>--create</code> option looks like now:-</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> create_file_sums
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$md5sum_filename</span><span style="color:#000000">,</span> <span style="color:#0057ae">&#64;dirs_and_files_to_sum</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Initialise our plan from the files and directories given on the commandline.</span>
   <span style="color:#838183; font-style:italic"># Traversing a big tree recursively could take a while, so let the user know.</span>
   <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;Constructing plan...&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'yellow'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">;</span>
   find<span style="color:#000000">( {</span>
            <span style="color:#838183; font-style:italic"># We pass in an anonymous sub to File::Find for it to run on every file and directory</span>
            <span style="color:#838183; font-style:italic"># as it traverses the tree. Note that the parameter name, 'wanted', is a misnomer;</span>
            <span style="color:#838183; font-style:italic"># File::Find will not do anything with the return value of our sub.</span>
            wanted <span style="color:#000000">=&gt;</span> <span style="color:#000000; font-weight:bold">sub</span> <span style="color:#000000">{</span>
               <span style="color:#838183; font-style:italic"># Apparently File::Find doesn't handle utf8 filenames.</span>
               <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$fullpathname</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$File</span><span style="color:#000000">::</span>Find<span style="color:#000000">::</span>name<span style="color:#000000">;</span>
               utf8<span style="color:#000000">::</span>decode<span style="color:#000000">(</span><span style="color:#0057ae">$fullpathname</span><span style="color:#000000">);</span>

               <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(-</span>e <span style="color:#0057ae">$fullpathname</span> <span style="color:#000000">&amp;&amp; ! -</span>d <span style="color:#0057ae">$fullpathname</span><span style="color:#000000">) {</span>
                  <span style="color:#000000; font-weight:bold">push</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">,</span> create_plan_for_filename<span style="color:#000000">(</span><span style="color:#0057ae">$fullpathname</span><span style="color:#000000">);</span>
               <span style="color:#000000">}</span>
            <span style="color:#000000">},</span>
            follow_skip <span style="color:#000000">=&gt;</span> <span style="color:#b07e00">2</span><span style="color:#000000">,</span>    <span style="color:#838183; font-style:italic"># If we get duplicate dirs, files etc. during find, ignore and carry on.</span>
            no_chdir <span style="color:#000000">=&gt;</span> <span style="color:#b07e00">1</span><span style="color:#000000">,</span>       <span style="color:#838183; font-style:italic"># We want our current dir consistent after Find does its work.</span>
         <span style="color:#000000">},</span>
         <span style="color:#0057ae">&#64;dirs_and_files_to_sum</span>
      <span style="color:#000000">);</span>
   <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> prune_plan_duplicates<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
   <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;Complete. Plan contains &quot;</span> <span style="color:#000000">.</span> <span style="color:#000000; font-weight:bold">scalar</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">.</span> <span style="color:#bf0303">&quot; items.&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'yellow'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Go sum all those files.</span>
   run_md5_files_with_progress<span style="color:#000000">(</span><span style="color:#bf0303">&quot;Creating MD5&quot;</span><span style="color:#000000">,</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>

   <span style="color:#838183; font-style:italic"># Then write the computed MD5s to the md5sum file given with --create.</span>
   save_md5sum_file<span style="color:#000000">(</span><span style="color:#0057ae">$md5sum_filename</span><span style="color:#000000">,</span> <span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> prune_plan_duplicates
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;uniq_plan</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">%names</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$plan_entry</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">next unless</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">};</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$names</span><span style="color:#000000">{</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">}}</span> <span style="color:#010181">//</span> <span style="color:#b07e00">0</span> <span style="color:#000000">==</span> <span style="color:#b07e00">1</span><span style="color:#000000">) {</span>
         <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;Warning: File '$plan_entry-&gt;{filename}' mentioned multiple times. Duplicate entries in plan will be ignored.&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'bold yellow'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span>
      <span style="color:#000000; font-weight:bold">push</span> <span style="color:#0057ae">&#64;uniq_plan</span><span style="color:#000000">,</span> <span style="color:#0057ae">$plan_entry</span> <span style="color:#000000; font-weight:bold">unless</span> <span style="color:#0057ae">$names</span><span style="color:#000000">{</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">}};</span>
      <span style="color:#0057ae">$names</span><span style="color:#000000">{</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">}}++;</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">&#64;uniq_plan</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>
</pre>

<p>There were a few problems I quickly ran into while testing this which are addressed in the code above. Firstly, one must make sure to run <code>utf8::decode()</code> on the file names that File::Find gives you. Thanks to the <code>-CSDA</code> options at the top of our script, Perl is already decoding <code>@ARGV</code> filenames as UTF-8 for us, but not so the names we get while traversing the directory tree. Obviously, if you are on a filesystem which is <strong>not</strong> using UTF-8 and instead uses some other encoding, my script will fail horribly. I've decided that <em>"Assume a sane system using UTF-8 throughout"</em> is as far as I want to go down the locale rabbit-hole for the time being. Things get much, much more complicated when your filenames from the filesystem can be in different encodings than the .md5sum files you load and the arguments you get on the command-line and so on. I'm making this script for me and also in the hopes that it could be useful for others, but not necessarily everyone everywhere ever.</p>

<p>The second problem vexed me for a little while; I was getting the list of filenames properly, but then my MD5 steps were all failing, claiming the files didn't exist. What was going on? Well, by default, File::Find uses <code>chdir</code> to change the current working directory while it does its thing; it sets Perl's magic default variable <code>$_</code> to the basename of the file and <code>$File::Find::name</code> to the full name including the path. But it doesn't necessarily tidy up after itself once it's run, and so my MD5 checks weren't running from the directory they should have been in. Setting the option <code>no_chdir</code> avoids this behavior; we always get the full path, and we never change directory.</p>

<p>Lastly, I observed that if I gave <code>--create</code> a directory and also mentioned a few files within that directory, the files would be added to the plan multiple times and be checksummed multiple times. This is unnecessary, so <code>prune_plan_duplicates</code> is there to check for that and warn the user about it. I've also written some fairly straightforward subs to summarise things at the end of the program: <code>print_plan_pass_fail_summary</code> gives a quick recount of how many files were verified successfully and how many, and which, failed. <code>print_plan_errors</code> checks to see if there's an 'error' attribute set on any files, and if so, lists them grouped by error. I'll omit listing them here because they're pretty much just doing some <code>foreach</code> loops and maybe building a hash.</p>

<h2>Staying up to date</h2>

<p>So now we can create an <code>.md5sum</code> file based on a directory of files, and verify that <code>.md5sum</code> file afterwards, what else is there to do? One use-case I forsee is a situation where you have a file full of md5sums, but some of the files referenced have been removed, or new ones have been added to the directory it is responsible for and you want to include their checksums. In this case, you could use <code>--create</code> and clobber the old file with new data, but that could take a considerable length of time and you'd want to <code>--verify</code> first to make sure the files aren't corrupt - else you'd be recording that corrupt checksum as being valid.</p>

<p>Naturally, the act of updating the <code>.md5sum</code> file will require <strong>both</strong> loading the file contents <strong>and</strong> building a plan based on recursively scanning a set of directories. It looks like it's already time to refactor our File::Find call out into its own subroutine so we can avoid duplicated code.</p>

<p>Once we've done that, we can load both the <code>.md5sum</code> file and the directory tree and compare them, alerting the user to the differences and updating the file:-</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> update_file_sums
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$md5sum_filename</span><span style="color:#000000">,</span> <span style="color:#0057ae">&#64;dirs_and_files_to_sum</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># We need to load both the contents of our .md5sum file and build an index of the files in given directories,</span>
   <span style="color:#838183; font-style:italic"># so that we can compare them.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;official_plan</span> <span style="color:#000000">=</span> load_md5sum_file<span style="color:#000000">(</span><span style="color:#0057ae">$md5sum_filename</span><span style="color:#000000">);</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;actual_plan</span> <span style="color:#000000">=</span> build_plan_from_directories<span style="color:#000000">(</span><span style="color:#0057ae">&#64;dirs_and_files_to_sum</span><span style="color:#000000">);</span>

   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">%official_filenames</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">map</span> <span style="color:#000000">{</span> <span style="color:#0057ae">$_</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">},</span> <span style="color:#0057ae">$_</span> <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">grep</span> <span style="color:#000000">{</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$_</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">} }</span> <span style="color:#0057ae">&#64;official_plan</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">%actual_filenames</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">map</span> <span style="color:#000000">{</span> <span style="color:#0057ae">$_</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">},</span> <span style="color:#0057ae">$_</span> <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">grep</span> <span style="color:#000000">{</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$_</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">} }</span> <span style="color:#0057ae">&#64;actual_plan</span><span style="color:#000000">;</span>

   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;new_files</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">grep</span> <span style="color:#000000">{</span> <span style="color:#0057ae">$_</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">} &amp;&amp; !</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$official_filenames</span><span style="color:#000000">{</span><span style="color:#0057ae">$_</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">}} }</span> <span style="color:#0057ae">&#64;actual_plan</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;removed_files</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">grep</span> <span style="color:#000000">{</span> <span style="color:#0057ae">$_</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">} &amp;&amp; !</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$actual_filenames</span><span style="color:#000000">{</span><span style="color:#0057ae">$_</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">}} }</span> <span style="color:#0057ae">&#64;official_plan</span><span style="color:#000000">;</span>

   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">scalar</span> <span style="color:#0057ae">&#64;removed_files</span> <span style="color:#000000">==</span> <span style="color:#000000; font-weight:bold">scalar keys</span> <span style="color:#0057ae">%official_filenames</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;All files mentioned in '$md5sum_filename' would be removed - refusing to act, something doesn't look right here.&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'bold red'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;If you really want to do this, use --create to create a brand-new .md5sum file instead.&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'bold red'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">exit</span> <span style="color:#b07e00">1</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;removed_files</span> <span style="color:#000000">==</span> <span style="color:#b07e00">0</span> <span style="color:#000000">&amp;&amp;</span> <span style="color:#0057ae">&#64;new_files</span> <span style="color:#000000">==</span> <span style="color:#b07e00">0</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;No changes necessary.&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'bold green'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">exit</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;removed_files</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">scalar</span> <span style="color:#0057ae">&#64;removed_files</span> <span style="color:#000000">.</span> <span style="color:#bf0303">&quot; Removed files:-&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'red'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
      print_plan_sums<span style="color:#000000">(</span><span style="color:#0057ae">&#64;removed_files</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;new_files</span><span style="color:#000000">) {</span> 
      <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">scalar</span> <span style="color:#0057ae">&#64;new_files</span> <span style="color:#000000">.</span> <span style="color:#bf0303">&quot; New files:-&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'cyan'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>
   <span style="color:#838183; font-style:italic"># Go sum the new files.</span>
   run_md5_files_with_progress<span style="color:#000000">(</span><span style="color:#bf0303">&quot;Updating MD5&quot;</span><span style="color:#000000">,</span> <span style="color:#0057ae">&#64;new_files</span><span style="color:#000000">);</span>

   <span style="color:#838183; font-style:italic"># Remove the removed files and add the new files. Leave unchanged entries as per the original.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;updated_plan</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$plan_entry</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;official_plan</span><span style="color:#000000">,</span> <span style="color:#0057ae">&#64;new_files</span><span style="color:#000000">) {</span>
      <span style="color:#838183; font-style:italic"># Skip files that can no longer be found.</span>
      <span style="color:#000000; font-weight:bold">next unless</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">} &amp;&amp;</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$actual_filenames</span><span style="color:#000000">{</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">}};</span>

      <span style="color:#838183; font-style:italic"># If there isn't a {correct_md5} attribute, we should set it from the {computed_md5}.</span>
      <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>correct_md5<span style="color:#000000">}</span> <span style="color:#010181">//</span><span style="color:#000000">=</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>computed_md5<span style="color:#000000">};</span>

      <span style="color:#000000; font-weight:bold">push</span> <span style="color:#0057ae">&#64;updated_plan</span><span style="color:#000000">,</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot;Saving file '$md5sum_filename'...&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'bold green'</span><span style="color:#000000">);</span>
   save_md5sum_file<span style="color:#000000">(</span><span style="color:#0057ae">$md5sum_filename</span><span style="color:#000000">,</span> <span style="color:#0057ae">&#64;updated_plan</span><span style="color:#000000">);</span>
   <span style="color:#000000; font-weight:bold">print</span> STDERR colored<span style="color:#000000">(</span><span style="color:#bf0303">&quot; Done!&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">'bold green'</span><span style="color:#000000">),</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>
</pre>

<p>As we're making heavy use of various lists of things, the natural thing to do to help us manipulate them is perl's <code>map</code> and <code>grep</code> functions. The data gets processed right-to-left; for instance, we take the <code>@official_plan</code> we loaded from disk, and <code>grep</code> that list to include only the entries that actually have a filename - since the file may be malformed. Then we take the output of <code>grep</code> and run it through <code>map</code>: The code reference we give it turns each entry into a pair of values, and lists of paired-up values are suitable for assignment to a hash. The hashes will be used to easily test whether or not a file exists in our <code>.md5sum</code> file or actually on disk in our <code>File::Find</code> results.</p>

<p>After wrangling our data into lists of new and removed files, we only need to generate the checksums of the new files, assign those checksums as being "correct", and save the .md5sum file. It is at this point I find a bug - I've been saving the <code>{computed_md5}</code> attribute in <code>save_md5sum_file</code>, but what I really intended is to save the <code>{correct_md5}</code>. Not a huge difference when you're creating a brand new checksum file from scratch, but when you're partially updating one it becomes important to get it right. A quick fix for the update and creation subs looks like this:-</p>

<pre><code>$plan_entry-&gt;{correct_md5} //= $plan_entry-&gt;{computed_md5};
</code></pre>

<p>This line is using the <strong>defined-or</strong> assignment operator introduced back in Perl 5.10. This operator is my best friend. Defined-or is great for including "default values" when you're pulling data from a source that might be undefined - something like <code>my $dir = @ARGV[0] // ".";</code> will let you easily add default fallback values to your code. Just like many other operators, you can combine them with an assignment - just as <code>$a = $a + $b</code> becomes <code>$a += $b</code>, you can apply <code>//=</code> to something. The line above is a terse way of saying <em>"Assign the correct_md5 attribute its own value, unless its value is undefined, in which case assign it the computed_md5"</em>. In other languages this could be annoyingly verbose code.</p>

<p>Anyway, I'm running out of steam and this project has made for two large posts already. It works well enough; we've found a bunch of cases where it could have broken, and made sure to avoid that. It could be faster, but it's not slow, and the additional features more than make up for things.</p>

<p>I've to set up a page where you can download this script in its final form, along with my other larger scripts from these blog posts. Get them here: <a href="http://blog.lazycat.com.au/p/downloads-script-toolbox.html">Script Toolbox</a></p>
