<h2>BLAH</h2>

<p>Here are lines 20-30 from vigil1a.pl, the 'help' sub:-</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> help
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;Usage:-</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;  $0 --verify filename.md5sum</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;  $0 --create filename.md5sum</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;  $0 --update filename.md5sum</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;  $0 --files file_to_check ...</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;     --blocksize &lt;size&gt;{k,m}</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">exit</span> <span style="color:#b07e00">1</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>
</pre>

<h2>Integrating Integrity, part 1</h2>

<p>One of the most important parts of any backup solution is being able to identify when files have become corrupt due to a failing disk. Ideally, we'd be able to identify impending failure <em>before</em> the excrement hits the rotational cooling device, but we don't always have that luxury. I intend to cover things like S.M.A.R.T. disk checks in a later post; for today, I want to address per-file integrity checking. Because the only thing worse than having no backup is having a backup <strong>of the already-corrupt data</strong>.</p>

<p><code>md5sum</code> has been my go-to tool for this in the past. The checksums it generates are slightly better than the old CRC32 method, and it's ubiquitous. While it is important to realise it is not a <em>cryptographically secure</em> checksum and cannot protect against malicious tampering, it is a very effective way to check a file for damage. However, while the venerable <code>md5sum</code> command works perfectly fine, I really want to make my own version with a few improvements that I find myself wanting.</p>

<h2>Eternal Vigilance</h2>

<p>To start things off, I'm going to write a script (in Perl 5, naturally) called <code>vigil.pl</code>. Its job will be to create and check .md5sum files containing the sums of all the files in a given directory. So why not just use the actual <code>md5sum</code> program? Well, for starters, when <code>md5sum</code> does its thing it simply processes each file on each line, listing whether the checksum is correct or not and moving on to the next file. This means that when checking a bunch of small files, the list scrolls by so quickly you can't see which files failed, unless you pipe that to a text file and review it later. It also means that for really large files, you get no indication of progress until it finishes. I aim to correct that, and produce a summary at the end of each run that tells me how many files passed, how many failed, and which ones. We could also display a progress bar that estimates the time until the whole job is completed.</p>

<p>Here's the 'boilerplate' code of my first cut of the program:-</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#838183; font-style:italic">#!/usr/bin/perl -CSDA</span>

<span style="color:#000000; font-weight:bold">use</span> strict<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> warnings<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> utf8<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> Getopt<span style="color:#000000">::</span>Long<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> Digest<span style="color:#000000">::</span>MD5<span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">use</span> Term<span style="color:#000000">::</span>ANSIColor<span style="color:#000000">;</span>

<span style="color:#838183; font-style:italic"># Define our command-line arguments.</span>
<span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">%opts</span> <span style="color:#000000">= (</span> <span style="color:#bf0303">'blocksize'</span> <span style="color:#000000">=&gt;</span> <span style="color:#b07e00">16384</span> <span style="color:#000000">);</span>
GetOptions<span style="color:#000000">(</span>\<span style="color:#0057ae">%opts</span><span style="color:#000000">,</span> <span style="color:#bf0303">&quot;verify=s&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">&quot;create=s&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">&quot;update=s&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">&quot;files&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">&quot;blocksize=s&quot;</span><span style="color:#000000">,</span> <span style="color:#bf0303">&quot;help!&quot;</span><span style="color:#000000">);</span>

<span style="color:#838183; font-style:italic"># Fix up --blocksize argument if any</span>
<span style="color:#0057ae">$opts</span><span style="color:#000000">{</span>blocksize<span style="color:#000000">} *=</span> <span style="color:#b07e00">1024</span> <span style="color:#000000; font-weight:bold">if</span> <span style="color:#0057ae">$opts</span><span style="color:#000000">{</span>blocksize<span style="color:#000000">} =~</span> <span style="color:#010181">/^\d+[km]$/i</span><span style="color:#000000">;</span>
<span style="color:#0057ae">$opts</span><span style="color:#000000">{</span>blocksize<span style="color:#000000">} *=</span> <span style="color:#b07e00">1024</span> <span style="color:#000000; font-weight:bold">if</span> <span style="color:#0057ae">$opts</span><span style="color:#000000">{</span>blocksize<span style="color:#000000">} =~</span> <span style="color:#010181">/^\d+[m]$/i</span><span style="color:#000000">;</span>
<span style="color:#000000; font-weight:bold">die</span> <span style="color:#bf0303">&quot;--blocksize must a number be greater than 0, optionally with k or m suffixes!&quot;</span> <span style="color:#000000; font-weight:bold">unless</span> <span style="color:#0057ae">$opts</span><span style="color:#000000">{</span>blocksize<span style="color:#000000">} &gt;</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>


<span style="color:#000000; font-weight:bold">sub</span> help
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;Usage:-</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;  $0 --verify filename.md5sum</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;  $0 --create filename.md5sum</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;  $0 --update filename.md5sum</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;  $0 --files file_to_check ...</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">print</span> <span style="color:#bf0303">&quot;     --blocksize &lt;size&gt;{k,m}</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">exit</span> <span style="color:#b07e00">1</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>

<span style="color:#000000">...</span>

<span style="color:#000000; font-weight:bold">sub</span> main
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$opts</span><span style="color:#000000">{</span>files<span style="color:#000000">}) {</span>
      <span style="color:#838183; font-style:italic"># Just print out the sums of all the files given as &#64;ARGV.</span>
      display_file_sums<span style="color:#000000">(</span><span style="color:#0057ae">&#64;ARGV</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
      help<span style="color:#000000">();</span>
   <span style="color:#000000">}</span>
<span style="color:#000000">}</span>


help<span style="color:#000000">()</span> <span style="color:#000000; font-weight:bold">if</span> <span style="color:#0057ae">$opts</span><span style="color:#000000">{</span>help<span style="color:#000000">};</span>
main<span style="color:#000000">();</span>
</pre>

<p>We turn on UTF-8 for command-line arguments, default IO streams and things. I've probably forgotten something important here but <strong>oh well</strong>, getting something done and building up momentum is more important for me right now. The modules we're using are <a href="https://metacpan.org/pod/Getopt::Long">Getopt::Long</a>, <a href="https://metacpan.org/pod/Digest::MD5">Digest::MD5</a>, and <a href="https://metacpan.org/pod/Term::ANSIColor">Term::ANSIColor</a>. Similar to writing comments before I write functions, I like to sketch out what the command-line options should look like to sketch out how the program will be used.</p>

<p>To get the ball rolling, I want to implement a simple <code>--files</code> option that will treat all other arguments as filenames for which we want to compute and print an MD5 sum. This way we can check to see if we're actually computing the checksums properly. I'm going to use the same basic idea as from the file-renaming script I made; populate a <code>@plan</code> list with things we should be doing, then act on that plan. Each entry in the <code>@plan</code> list will be a hash reference, with keys for filename, size, and the correct md5 if one is known. Getting the size of each file in advance is important, so that we can accurately estimate our progress and time until completion.</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#838183; font-style:italic"># plan entries are hashrefs with keys: filename, size (bytes), correct_md5 (optional),</span>
<span style="color:#838183; font-style:italic"># at verification end, additional keys are: computed_md5, start_time (unix timestamp), elapsed_time (secs).</span>
<span style="color:#838183; font-style:italic"># This way we can attempt an accurate time estimate.</span>
<span style="color:#000000; font-weight:bold">sub</span> create_plan_for_filename
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$filename</span><span style="color:#000000">,</span> <span style="color:#0057ae">$correct_md5</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$plan_entry</span> <span style="color:#000000">= {};</span>
   <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">} =</span> <span style="color:#0057ae">$filename</span><span style="color:#000000">;</span>

   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(-</span>f <span style="color:#0057ae">$filename</span><span style="color:#000000">) {</span>
      <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>size<span style="color:#000000">} = -</span>s <span style="color:#0057ae">$filename</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">else</span> <span style="color:#000000">{</span>
      <span style="color:#838183; font-style:italic"># Doesn't exist or is a directory or a socket or something. Die?</span>
   <span style="color:#000000">}</span>

   <span style="color:#838183; font-style:italic"># If the md5 is supplied by the caller, then we're checking a file. If not, we're probably creating one.</span>
   <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$correct_md5</span><span style="color:#000000">) {</span>
      <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>correct_md5<span style="color:#000000">} =</span> <span style="color:#0057ae">$correct_md5</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>


<span style="color:#838183; font-style:italic"># No matter whether we're verifying or creating a checksum, we're basically gonna run the same thing over all the</span>
<span style="color:#838183; font-style:italic"># files given to us in the plan: stream bytes through md5, report progress as we do so.</span>
<span style="color:#838183; font-style:italic"># Only once the plan has been executed do we *really* need to report which files don't match, although a running</span>
<span style="color:#838183; font-style:italic"># alert for failing files would be nice too.</span>
<span style="color:#000000; font-weight:bold">sub</span> run_md5_file
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">,</span> <span style="color:#0057ae">$progress_fn</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># We use the OO interface to Digest::MD5 so we can feed it data a chunk at a time.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$md5</span> <span style="color:#000000">=</span> Digest<span style="color:#000000">::</span>MD5<span style="color:#000000">-&gt;</span><span style="color:#010181">new</span><span style="color:#000000">();</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$current_bytes_read</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$buffer</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>start_time<span style="color:#000000">} =</span> <span style="color:#000000; font-weight:bold">time</span><span style="color:#000000">();</span>
   <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>elapsed_time<span style="color:#000000">} =</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
   <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>elapsed_bytes<span style="color:#000000">} =</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># 3 argument form of open() allows us to specify 'raw' directly instead of using binmode and is a bit more modern.</span>
   <span style="color:#000000; font-weight:bold">open</span><span style="color:#000000">(</span><span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$fh</span><span style="color:#000000">,</span> <span style="color:#bf0303">'&lt;:raw'</span><span style="color:#000000">,</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">})</span> <span style="color:#000000; font-weight:bold">or die</span> <span style="color:#bf0303">&quot;Couldn't open file $plan_entry-&gt;{filename}, $!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Read the file in chunks and feed into md5.</span>
   <span style="color:#000000; font-weight:bold">while</span> <span style="color:#000000">(</span><span style="color:#0057ae">$current_bytes_read</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">read</span><span style="color:#000000">(</span><span style="color:#0057ae">$fh</span><span style="color:#000000">,</span> <span style="color:#0057ae">$buffer</span><span style="color:#000000">,</span> <span style="color:#0057ae">$opts</span><span style="color:#000000">{</span>blocksize<span style="color:#000000">})) {</span>
      <span style="color:#0057ae">$md5</span><span style="color:#000000">-&gt;</span><span style="color:#010181">add</span><span style="color:#000000">(</span><span style="color:#0057ae">$buffer</span><span style="color:#000000">);</span>
      <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>elapsed_bytes<span style="color:#000000">} +=</span> <span style="color:#0057ae">$current_bytes_read</span><span style="color:#000000">;</span>
      <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>elapsed_time<span style="color:#000000">} =</span> <span style="color:#000000; font-weight:bold">time</span><span style="color:#000000">() -</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>start_time<span style="color:#000000">};</span>
      <span style="color:#000000">&amp;</span><span style="color:#0057ae">$progress_fn</span><span style="color:#000000">(</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>elapsed_bytes<span style="color:#000000">});</span>
   <span style="color:#000000">}</span>
   <span style="color:#838183; font-style:italic"># The loop will exit as soon as read() returns 0 or undef. 0 is normal EOF, undef indicates an error.</span>
   <span style="color:#000000; font-weight:bold">die</span> <span style="color:#bf0303">&quot;Error while reading $plan_entry-&gt;{filename}, $!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span> <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">( !</span> <span style="color:#000000; font-weight:bold">defined</span> <span style="color:#0057ae">$current_bytes_read</span><span style="color:#000000">);</span>

   <span style="color:#000000; font-weight:bold">close</span><span style="color:#000000">(</span><span style="color:#0057ae">$fh</span><span style="color:#000000">)</span> <span style="color:#000000; font-weight:bold">or die</span> <span style="color:#bf0303">&quot;Couldn't close file $plan_entry-&gt;{filename}, $!</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># We made it out of the file alive. Store the md5 we computed. Note that this resets the Digest::MD5 object.</span>
   <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>computed_md5<span style="color:#000000">} =</span> <span style="color:#0057ae">$md5</span><span style="color:#000000">-&gt;</span><span style="color:#010181">hexdigest</span><span style="color:#000000">();</span>
<span style="color:#000000">}</span>
</pre>

<p>I could use Moose and make a proper class for a "plan entry" - I wish I could think of a better name for them but I can't - but this is a simple script and a simple hashref will do. The <code>create_plan_for_filename</code> sub can take a filename and optionally the correct md5 as recorded by a .md5sum file somewhere, and return a hash reference complete with keys describing the initial state of the entry. We can pass these entries to the <code>run_md5_file</code> sub, which will create a Digest::MD5 object, feed it data, and then set additional keys in the plan entry - the computed md5 and how long it took. For <code>run_md5_file</code>, we also pass in a <em>subroutine reference</em> via the <code>$progress_fn</code> scalar variable. This is a callback function that we can give to <code>run_md5_file</code> for it to report back on progress as it loops through the file data.</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> display_file_sums
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;filenames</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Initialise our plan.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">map</span> <span style="color:#000000">{</span> create_plan_for_filename<span style="color:#000000">(</span><span style="color:#0057ae">$_</span><span style="color:#000000">) }</span> <span style="color:#0057ae">&#64;filenames</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Do the sums.</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$plan_entry</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot;Computing MD5 of $plan_entry-&gt;{filename}: &quot;</span><span style="color:#000000">;</span>
      run_md5_file<span style="color:#000000">(</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">,</span> <span style="color:#000000; font-weight:bold">sub</span> <span style="color:#000000">{</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$progress</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">shift</span><span style="color:#000000">;</span> <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot;.&quot;</span><span style="color:#000000">; } );</span>
      <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot; done</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#838183; font-style:italic"># Show the user.</span>
   print_plan_sums<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> print_plan_sums
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$plan_entry</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#000000; font-weight:bold">next unless</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>computed_md5<span style="color:#000000">};</span>

      <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$sumcolour</span> <span style="color:#000000">=</span> <span style="color:#bf0303">&quot;cyan&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>correct_md5<span style="color:#000000">}) {</span>
         <span style="color:#0057ae">$sumcolour</span> <span style="color:#000000">= (</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>computed_md5<span style="color:#000000">}</span> <span style="color:#000000; font-weight:bold">eq</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>correct_md5<span style="color:#000000">} )</span> ? <span style="color:#bf0303">&quot;green&quot;</span> <span style="color:#000000">:</span> <span style="color:#bf0303">&quot;red&quot;</span><span style="color:#000000">;</span>
      <span style="color:#000000">}</span>

      <span style="color:#000000; font-weight:bold">print</span> colored<span style="color:#000000">(</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>computed_md5<span style="color:#000000">},</span> <span style="color:#0057ae">$sumcolour</span><span style="color:#000000">) .</span> <span style="color:#bf0303">&quot;  &quot;</span> <span style="color:#000000">.</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">},</span> <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>

   <span style="color:#838183; font-style:italic">#### TODO: Show files with errors. Separate sub?</span>
<span style="color:#000000">}</span>
</pre>

<p><code>display_file_sums</code> (coming up with pithy subroutine and variable names is hard ok?) is responsible for handling the "compute the checksum of these given files and just show me what they are" action we invoke with <code>--files</code>. We can easily convert our list of <code>@filenames</code> into a list of plan entries using perl's <code>map</code> keyword and the <code>create_plan_for_filename</code> sub we made earlier. Then we act on each entry of that plan, computing the checksum and reporting progress via a very hastily-written subroutine that just prints a dot character for every block of data that gets processed:</p>

<pre><code>sub { my $progress = shift; print STDERR "."; }
</code></pre>

<p>Finally we print things out to the terminal in <code>print_plan_sums</code>, adding some code to colour things prettily if the computed checksums match the known good checksums - which we don't have yet because we don't have any code to load those in yet. Now that this last function is written, we can run the program and check that it produces the correct md5 for files:-</p>

<pre><code>james@yang(): ~/bin
$ ./vigil.pl --files vigil.pl 
Computing MD5 of vigil.pl: . done
0b8673f3a80536d3cf1fcc7477b68bd6  vigil.pl

james@yang(): ~/bin
$ md5sum vigil.pl
0b8673f3a80536d3cf1fcc7477b68bd6  vigil.pl
</code></pre>

<p>So far, so good!</p>

<h2>Making Progress</h2>

<p>The first thing I want to do is add a proper progress bar. A stream of dots tells us that the program hasn't crashed or stalled, but it otherwise isn't super helpful. I'm <em>extremely</em> tempted to write my own custom progress bar code, but for the moment let's fight NIH syndrome and use a perl module someone else has written. <a href="https://metacpan.org/pod/Term::ProgressBar">Term::ProgressBar</a> seems handy; let's try that one. Using it is pretty simple, and we only need to modify the <code>display_file_sums</code> sub to initialise the progress bar and supply an appropriate callback function to update it instead of our initial "stream of dots" version:-</p>

<pre style="color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New';"><span style="color:#000000; font-weight:bold">sub</span> display_file_sums
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;filenames</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Initialise our plan.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">&#64;plan</span> <span style="color:#000000">=</span> <span style="color:#000000; font-weight:bold">map</span> <span style="color:#000000">{</span> create_plan_for_filename<span style="color:#000000">(</span><span style="color:#0057ae">$_</span><span style="color:#000000">) }</span> <span style="color:#0057ae">&#64;filenames</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># How big is this going be?</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$total_size</span> <span style="color:#000000">=</span> get_plan_size<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$total_progress_so_far</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>      <span style="color:#838183; font-style:italic"># updated after each file is processed.</span>

   <span style="color:#838183; font-style:italic"># Initialise the progress bar.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$bar</span> <span style="color:#000000">=</span> Term<span style="color:#000000">::</span>ProgressBar<span style="color:#000000">-&gt;</span><span style="color:#010181">new</span><span style="color:#000000">({</span>
            name <span style="color:#000000">=&gt;</span> <span style="color:#bf0303">&quot;Computing MD5&quot;</span><span style="color:#000000">,</span>
            count <span style="color:#000000">=&gt;</span> <span style="color:#0057ae">$total_size</span><span style="color:#000000">,</span>
            ETA <span style="color:#000000">=&gt;</span> <span style="color:#bf0303">'linear'</span><span style="color:#000000">,</span>
         <span style="color:#000000">});</span>
   <span style="color:#0057ae">$bar</span><span style="color:#000000">-&gt;</span><span style="color:#010181">minor</span><span style="color:#000000">(</span><span style="color:#b07e00">0</span><span style="color:#000000">);</span>      <span style="color:#838183; font-style:italic"># No asterisks used for progress animation.</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$next_bar_update</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>      <span style="color:#838183; font-style:italic"># used to ensure we don't spend more time drawing the bar than actual work.</span>

   <span style="color:#838183; font-style:italic"># Do the sums.</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$plan_entry</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#0057ae">$bar</span><span style="color:#000000">-&gt;</span><span style="color:#010181">message</span><span style="color:#000000">(</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>filename<span style="color:#000000">});</span>
      run_md5_file<span style="color:#000000">(</span><span style="color:#0057ae">$plan_entry</span><span style="color:#000000">,</span>
            <span style="color:#000000; font-weight:bold">sub</span> <span style="color:#000000">{</span>
               <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$progress</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$total_progress_so_far</span> <span style="color:#000000">+</span> <span style="color:#0057ae">$_</span><span style="color:#000000">[</span><span style="color:#b07e00">0</span><span style="color:#000000">];</span>
               <span style="color:#000000; font-weight:bold">if</span> <span style="color:#000000">(</span><span style="color:#0057ae">$progress</span> <span style="color:#000000">&gt;</span> <span style="color:#0057ae">$next_bar_update</span><span style="color:#000000">) {</span>
                  <span style="color:#0057ae">$next_bar_update</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$bar</span><span style="color:#000000">-&gt;</span><span style="color:#010181">update</span><span style="color:#000000">(</span><span style="color:#0057ae">$progress</span><span style="color:#000000">);</span>
               <span style="color:#000000">}</span>
            <span style="color:#000000">});</span>

      <span style="color:#0057ae">$total_progress_so_far</span> <span style="color:#000000">+=</span> <span style="color:#0057ae">$plan_entry</span><span style="color:#000000">-&gt;{</span>size<span style="color:#000000">};</span>
      <span style="color:#0057ae">$next_bar_update</span> <span style="color:#000000">=</span> <span style="color:#0057ae">$bar</span><span style="color:#000000">-&gt;</span><span style="color:#010181">update</span><span style="color:#000000">(</span><span style="color:#0057ae">$total_progress_so_far</span><span style="color:#000000">);</span>
   <span style="color:#000000">}</span>
   <span style="color:#0057ae">$bar</span><span style="color:#000000">-&gt;</span><span style="color:#010181">update</span><span style="color:#000000">(</span><span style="color:#0057ae">$total_progress_so_far</span><span style="color:#000000">);</span>
   <span style="color:#000000; font-weight:bold">print</span> STDERR <span style="color:#bf0303">&quot;</span><span style="color:#ff00ff">\n</span><span style="color:#bf0303">&quot;</span><span style="color:#000000">;</span>

   <span style="color:#838183; font-style:italic"># Show the user.</span>
   print_plan_sums<span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">);</span>
<span style="color:#000000">}</span>


<span style="color:#000000; font-weight:bold">sub</span> get_plan_size
<span style="color:#000000">{</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) =</span> <span style="color:#0057ae">&#64;_</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$total_size</span> <span style="color:#000000">=</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
   <span style="color:#000000; font-weight:bold">foreach</span> <span style="color:#000000; font-weight:bold">my</span> <span style="color:#0057ae">$entry</span> <span style="color:#000000">(</span><span style="color:#0057ae">&#64;plan</span><span style="color:#000000">) {</span>
      <span style="color:#0057ae">$total_size</span> <span style="color:#000000">+=</span> <span style="color:#0057ae">$entry</span><span style="color:#000000">-&gt;{</span>size<span style="color:#000000">}</span> <span style="color:#010181">//</span> <span style="color:#b07e00">0</span><span style="color:#000000">;</span>
   <span style="color:#000000">}</span>
   <span style="color:#000000; font-weight:bold">return</span> <span style="color:#0057ae">$total_size</span><span style="color:#000000">;</span>
<span style="color:#000000">}</span>
</pre>

<p>The only other addition is a small subroutine to calculate the total size (in bytes) of our plan. Once we have that, we can initialise our $bar with <code>Term::ProgressBar-&gt;new</code>, and the body of our callback now looks like this:-</p>

<pre><code>my $progress = $total_progress_so_far + $_[0];
if ($progress &gt; $next_bar_update) {
   $next_bar_update = $bar-&gt;update($progress);
}
</code></pre>

<p>The awesome thing about using anonymous subs as callbacks like this in Perl is that while <code>$progress</code> and <code>$_[0]</code> are variables local to the subroutine, it can reference variables outside of that lexical scope - it doesn't lose access to them just because it's being called as <code>&amp;$progress_fn()</code> from <code>run_md5_file</code>. We don't need to set up any complex system of exposing <code>$total_progress_so_far</code>, <code>$next_bar_update</code> and <code>$bar</code> to it, just use them how you would naturally. </p>

<p>Random side-note: If we were returning this anonymous sub from another sub, and a variable it was using (such as <code>$total_progress_so_far</code>) fell out of scope, this would create a <em>closure</em> and capture the state of that variable when the sub was made.</p>

<p>Here's what the new progress bar looks like:-</p>

<pre><code>james@yang(): /yang/data/random_backups
$ vigil.pl --files sumomo-20140216-svnrdump.dump 
sumomo-20140216-svnrdump.dump                                                                                                  
Computing MD5:  62% [=========================================                        ]0m03s Left
</code></pre>

<p>Not bad! And for a 1.5G file, decently fast. Not as fast as the (presumably C) <code>md5sum</code> program, but at least this one tells me how much longer I'll need to wait! Our perl version is probably I/O bound, and can be optimised by tweaking the block size used - which is why I added that as a parameter. But early optimisation is the devil, and it's better to get all the features sorted out first. This post is already pretty long, and the basic functionality works; I'll make another post later where we add stuff like checking a whole file full of md5 checksums.</p>
